# 1.2 Users Activity analisys

## 1. Prepare data to analyze

## 1.1 Uploading and cleaning data

First of all, we have to upload data and clean it to obtain only data of our interest.

In [1]:
import pandas as pd
df_act=pd.read_csv("./../data/ntcir12.csv", header=0, sep=",")

In [2]:
df_act.head()

,Unnamed: 0,user,age,day_id,date,image_directory,activity,image_id,image_path,location,...,bottle,suitcase,cake,wine glass,baseball bat,traffic light,baseball glove,day_of_week,day_of_week_name,date_new
0,2015-02-23 07:08:12,u1,40,1,23/02/2015,NTCIR-Lifelog_images/u1/2015-02-23/,mobile,u1_2015-02-23_070812_6,/u1/2015-02-23/b00000006_21i6bq_20150223_07081...,Home,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0,Monday,2015-02-23
1,2015-02-23 07:08:13,u1,40,1,23/02/2015,NTCIR-Lifelog_images/u1/2015-02-23/,cooking,u1_2015-02-23_070813_7,/u1/2015-02-23/b00000007_21i6bq_20150223_07081...,Home,...,0.17,0.0,0.0,0.0,0.0,0.0,0.0,0,Monday,2015-02-23
2,2015-02-23 07:08:13,u1,40,1,23/02/2015,NTCIR-Lifelog_images/u1/2015-02-23/,cooking,u1_2015-02-23_070813_8,/u1/2015-02-23/b00000008_21i6bq_20150223_07081...,Home,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0,Monday,2015-02-23
3,2015-02-23 07:08:14,u1,40,1,23/02/2015,NTCIR-Lifelog_images/u1/2015-02-23/,cooking,u1_2015-02-23_070814_9,/u1/2015-02-23/b00000009_21i6bq_20150223_07081...,Home,...,0.36,0.0,0.0,0.0,0.0,0.0,0.0,0,Monday,2015-02-23
4,2015-02-23 07:08:22,u1,40,1,23/02/2015,NTCIR-Lifelog_images/u1/2015-02-23/,cooking,u1_2015-02-23_070822_10,/u1/2015-02-23/b00000010_21i6bq_20150223_07082...,Home,...,0.45,0.0,0.0,0.0,0.0,0.0,0.0,0,Monday,2015-02-23

We are going to clean our dataframe and create a key-variable for future data merge. We use 'image_path' to extract an unique ID.

In [3]:
select=df_act[["image_path",'activity', 'day_of_week_name']]

select['path_id'] = select["image_path"].str.split('/').str.get(3)
select['path_id'] = select['path_id'].str[:33]

select=select.drop_duplicates(['path_id'], keep='last')
select.rename(columns={'activity': 'activity_new'}, inplace=True)
select=select.drop('image_path', axis=1)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [4]:
#Open dataframe with additional activities that had been coded separately 
life_logs_csv = "./../data/dataframe_lifelog.csv"
life_logs= pd.read_csv(life_logs_csv, sep=';', header=0, index_col=0)
lifelog_df=pd.merge(life_logs, select, on='path_id', how='outer')
lifelog_df.to_csv("./../data/lifelog_df_activity.csv", sep=";")

#Drop unnecessary columns keeping dataset clean
lifelog_df.drop(["day_id", "date", "minute_id", "image_directory", "image_id", "image_path", "image_time_x", 
                 "time", "day_of_week_name"], axis=1, inplace=True)
lifelog_df.head(3)

,user,location,activity,gender,age,height,weight,path_id,date_time,activity_new
0,u1,Home,NaN,male,40,173,78,NaN,NaN,NaN
1,u1,Home,NaN,male,40,173,78,NaN,NaN,NaN
2,u1,Home,NaN,male,40,173,78,NaN,NaN,NaN

## 1.2 Add extra features (columns)

Create additional variables related to time like: 

   1. only date
   2. the hour
   3. a time range
   4. a day of a week

In [5]:
#Extract from datetime only dates to compare the userÂ´s behaviour
lifelog_df["date_time"]=pd.to_datetime(lifelog_df["date_time"])
lifelog_df['date_just'] = lifelog_df['date_time'].dt.date

#Extract from datetime only time to analyse activities flow and daily schedule
lifelog_df['time_good'] = lifelog_df['date_time'].dt.time

#Extract from datetime only hours to compare the userÂ´s behaviour 
lifelog_df['time_hour'] = lifelog_df["date_time"].apply(lambda x: x.hour)

#Group time of a day to a range like morning, afternoon, evening and night
lifelog_df["time_range"]=lifelog_df["time_hour"]
lifelog_df["time_range"].loc[(lifelog_df["time_range"] >= 6)& (lifelog_df["time_range"] <= 11)]=1
lifelog_df["time_range"].loc[(lifelog_df["time_range"] >= 12)& (lifelog_df["time_range"] <= 17)]=2
lifelog_df["time_range"].loc[(lifelog_df["time_range"] >= 18)& (lifelog_df["time_range"] <= 22)]=3
lifelog_df["time_range"].loc[(lifelog_df["time_range"] >= 23)& (lifelog_df["time_range"] <= 5)]=4
lifelog_df["time_range"].replace([1,2,3,4,], ["morning", "afternoon", "evening", "night"], inplace=True)

#Extract a day of a week to compare the userÂ´s behaviour 
import calendar
lifelog_df['Month'] = lifelog_df['date_time'].dt.month.fillna(0).astype(int)
lifelog_df['Month'] = lifelog_df['Month'].apply(lambda x: calendar.month_abbr[x])
lifelog_df['day_of_week'] = lifelog_df['date_time'].dt.dayofweek
lifelog_df["day_of_week_name"]=lifelog_df['day_of_week']
lifelog_df["day_of_week_name"].replace([0,1,2,3,4,5,6], ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], inplace=True)

/usr/local/lib/python2.7/dist-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [6]:
#The analysis will be conducted only on observations with assigned images. Other cases should be dropped
lifelog_df=lifelog_df.dropna(subset=['path_id'])

Save clean and prepared for analysis dataset:

In [7]:
lifelog_df.to_csv("./../data/clean_dataframe_activities.csv", sep=",")




## 2. Activities analysis

### 2.1. Compare activities between the users

In [8]:
#Extract from lifelogs dataframe needed variables
act_by_users=lifelog_df[["user","activity_new"]]
act_by_users=act_by_users.rename(columns = {"activity_new": "activity"})

#Calculate the frequencies of taken activities and normalize it to 0-100 scale.
act_by_users_tab=act_by_users.pivot_table(index='activity', columns='user', aggfunc=len, fill_value=0)
act_by_users=act_by_users.rename(columns = {"activity_new": "activities"})
act_by_users_tab1=act_by_users_tab.divide(act_by_users_tab.sum(axis=0), axis=1)* 100

In [9]:
#Transfer a table to matrix and extract the arrays for data visualization 
act_by_users_tab1=act_by_users_tab1.as_matrix()
act_by_users_tab1=act_by_users_tab1.astype(int)

To visualiza the comparison between users and undertaken activities has been used a bubble chart from plotly librery. 
To use this visualization, first install Plotly's python package by using the package manager pip inside the terminal: sudo pip install plotly. After installing the Plotly package, set up the credentials. It can be fined here: 
https://plot.ly/settings/api

In [10]:
#Insert your credetions or use it onlyne. In free version of Plotly, you can run up 50 calls per day
import plotly

In [11]:
#Prepare a bubble chart using Plotly package

import plotly.plotly as py
import plotly.graph_objs as go

attend_seminary = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=["User 1", "User 2", "User 3"],
    text=act_by_users_tab1[0],
    mode='markers',
    name='Seminary',
    marker=dict(color = '2ED6B5', size=act_by_users_tab1[0], sizeref=0.03,
        sizemode='area',))

biking = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[2, 2, 2],
    text=act_by_users_tab1[1],
    mode='markers',
    name='Biking',
    marker=dict(color="360C1F",size=act_by_users_tab1[1], sizeref=0.03,
        sizemode='area',))

cleaning = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[3, 3, 3],
    text=act_by_users_tab1[2],
    mode='markers',
    name='Cleaning',
    marker=dict(color="A0ECDD",size=act_by_users_tab1[2], sizeref=0.03,
        sizemode='area',))

cooking = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[4, 4, 4],
    text=act_by_users_tab1[3],
    mode='markers',
    name='Cooking',
    marker=dict(color="184B46", size=act_by_users_tab1[3], sizeref=0.03,
        sizemode='area',))

driving = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[5, 5, 5],
    text=act_by_users_tab1[4],
    mode='markers',
    name='Driving',
    marker=dict(color="C16AAB",size=act_by_users_tab1[4], sizeref=0.03,
        sizemode='area',))

drink_sb = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[6, 6, 6],
    text=act_by_users_tab1[5],
    mode='markers',
    name='Drinks with sb',
    marker=dict(color="EFEC34",size=act_by_users_tab1[5], sizeref=0.03,
        sizemode='area',))

meal_alone = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[7, 7, 7],
    text=act_by_users_tab1[6],
    mode='markers',
    name='Eating alone',
    marker=dict(color="1E8974",size=act_by_users_tab1[6], sizeref=0.03,
        sizemode='area',))

meal_sb = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[8, 8, 8],
    text=act_by_users_tab1[7],
    mode='markers',
    name='Meal with sb',
    marker=dict(color="0AFF2A",size=act_by_users_tab1[7], sizeref=0.03,
        sizemode='area',))

meeting = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[9, 9, 9],
    text=act_by_users_tab1[8],
    mode='markers',
    name='Meeting',
    marker=dict(color="D1F907",size=act_by_users_tab1[8], sizeref=0.03,
        sizemode='area',))

mobile = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[10, 10, 10,10,10,10,10],
    text=act_by_users_tab1[9],
    mode='markers',
    name='mobile',
    marker=dict(color="42CEC0",size=act_by_users_tab1[9], sizeref=0.03,
        sizemode='area',))

plane = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[11, 11, 11],
    text=act_by_users_tab1[10],
    mode='markers',
    name='Plane',
    marker=dict(color="EEA1C3",size=act_by_users_tab1[10], sizemode='area',))

reading = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[12, 12, 12],
    text=act_by_users_tab1[11],
    mode='markers',
    name='Reading',
    marker=dict(color="B0EAFC",size=act_by_users_tab1[11], sizeref=0.03,
        sizemode='area',))

resting = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[13, 13, 13],
    text=act_by_users_tab1[12],
    mode='markers',
    name='Resting',
    marker=dict(color="1DC0D6",size=act_by_users_tab1[12], sizeref=0.03,
        sizemode='area',))

shopping = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[14, 14, 14],
    text=act_by_users_tab1[13],
    mode='markers',
    name='Shopping',
    marker=dict(color="B0EAFC",size=act_by_users_tab1[13], sizeref=0.03,
        sizemode='area',))

socializing = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[15, 15, 15],
    text=act_by_users_tab1[14],
    mode='markers',
    name='Socializing',
    marker=dict(color="738804",size=act_by_users_tab1[14], sizemode='area',))

talking = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[16, 16, 16],
    text=act_by_users_tab1[15],
    mode='markers',
    name='Talking',
    marker=dict(color="3AD129",size=act_by_users_tab1[15], sizeref=0.03,
        sizemode='area',))

transport = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[17, 17, 17],
    text=act_by_users_tab1[16],
    mode='markers',
    name='Transport',
    marker=dict(color="C52C71",size=act_by_users_tab1[16], sizeref=0.03,
        sizemode='area',))

tv = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[18, 18, 18],
    text=act_by_users_tab1[17],
    mode='markers',
    name='Tv',
    marker=dict(color="42CEC0", size=act_by_users_tab1[17], sizeref=0.03,
        sizemode='area',))

walking = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[19, 19, 19],
    text=act_by_users_tab1[18],
    mode='markers',
    name='Walking',
    marker=dict(color="A0245B", size=act_by_users_tab1[18], sizeref=0.03,
        sizemode='area',))

working = go.Scatter(
    x=["User 1", "User 2", "User 3"],
    y=[20,20,20],
    text=act_by_users_tab1[19],
    mode='markers',
    name='Working',
    marker=dict(color="2ED6B5", size=act_by_users_tab1[19], sizeref=0.03,
        sizemode='area',))

layout = go.Layout(
    title='Activities by users (in percentage)',
    xaxis=dict(
        gridcolor='rgb(255, 255, 255)',
        zerolinewidth=9,
        ticklen=2,
        gridwidth=10,
    ),
    yaxis=dict(
        autorange=True,
        showgrid=False,
        zeroline=False,
        showline=False,
        autotick=True,
        ticks='',
        showticklabels=False,
    ),
    paper_bgcolor='#FFFFFF',
    plot_bgcolor='#FFFFFF',
)

data1 = [attend_seminary,biking, cleaning, cooking, driving, drink_sb, meal_alone, meal_sb,
         meeting, mobile, plane, reading, resting, shopping, socializing, 
         talking, transport, tv, walking, working]
fig = go.Figure(data=data1, layout=layout)
py.iplot(fig)

# 2.2. Analyse activities flow

The Lifelog datasets contains various interesting and valuable information on daily activities undertaken by the users. By extracting a date and time from the imageÂ´s paths, it was possible to identify when a singual activity had a place. Doing one step forward and looking at this dataset in total, appears that activities can be organized sequential. Therefore, it would be interesting to identify how users pass from one activity to the next one. However to conduct any analysis of the activitiesÂ´ flow, the data had to be processed.

In [12]:
#Extract from cleaned Lifelog dataset needed variables. Because not all observations have assigned an activity, then
#the missing values have been replaced into category "Unknown" referring that 
#one of the activities has been undertaken but stays unidentified.
acts=lifelog_df[["user","date_just", 'activity_new', "path_id"]]
acts['activity_new']=acts['activity_new'].fillna("Unknown")

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Define activities flow within dayÂ´s dataframes

To identify the change of an activity, the dataset needed to be processed correctly, that has been done in following steps:
1. The same activity could be undertaken more than one time and next to each other. Then, it was needed to identify the unique activities
2. The dataset contains various days. Therefore, it was important to analyse the activities flow within separate dates considering each of them as a closed, unique unit of observations.
3. To indetify the activities flow, the new variable was created called "activity_change_unique.

In [13]:
import numpy as np


DFList = []
for group in acts.groupby(acts["date_just"]):
    DFList.append(group[1])
    
d=[]

for i in range(len(DFList)):
    acts1=DFList[i]
    val=[]
    data=acts1["activity_new"].values
    for item in range(len(data)):
        if item == 0:
            val.append(1)
        else:
            if data[item]==data[item-1]:
                val.append(0)
            else:
                val.append(1)
        myarray = np.asarray(val)

    d.append(myarray)

unique_activities = []
for el in d:
    unique_activities.extend(el)

In [14]:
#Add new variable to a dataset to identify when an activity is changed to the other.
acts['activity_change_unique'] = pd.Series(unique_activities, index=acts.index)
acts = acts.rename(columns={'activity_new': 'activity_new_old'})

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# 2.3. Visualize the activities flow

In [15]:
#Select the user for whom you want to process the analysis
acts=acts[acts["user"] == "u3"]

In [16]:
#Select from above prepared dataset, the unique activties that has been changed
acts_unique=acts[acts["activity_change_unique"] != 0]
acts_unique_list = acts_unique['activity_new_old'].tolist()

In [17]:
#Process the data by assigningto the first activity, the second activity, to second activity - a third one.
#This dataframe structure will allow to identify how users were passing from one activity to other.
import numpy as np
unique_activity = []

for i in xrange(len(acts_unique_list) - 1):
    ll=[]
    current_item, next_item = acts_unique_list[i], acts_unique_list[i + 1]
    ll.append(current_item)
    ll.append(next_item)
    myarray = np.asarray(ll)
    unique_activity.append(myarray)

pair_activity=pd.DataFrame(unique_activity)
pair_activity.columns=("first_activity", "next_activity")
pair_activity.head(3)

  first_activity next_activity
0        Unknown       driving
1        driving       talking
2        talking       walking

In [18]:
#Prepare a table with activities and their pairs. Cross the first activity with the next activity.
#Count the frequency for each pair.

activity_plot=pd.crosstab(pair_activity.first_activity, pair_activity.next_activity, margins=False)
activity_plot

next_activity,Unknown,cleaning and chores,cooking,driving,having drinks with somebody,having drinks\meal alone,having meal with somebody,mobile,plane,reading,resting,shopping,socializing,talking,transport,tv,walking,working
first_activity,,,,,,,,,,,,,,,,,,
Unknown,119,29,57,18,29,49,9,178,2,2,66,14,45,32,13,37,109,71
cleaning and chores,30,1,10,0,0,2,0,1,0,0,0,0,0,0,0,7,1,1
cooking,56,10,3,0,0,6,0,3,0,0,0,0,0,0,1,4,1,0
driving,14,0,0,6,0,0,0,0,0,0,0,0,0,1,0,0,10,0
having drinks with somebody,30,0,0,0,1,1,0,0,0,0,0,0,2,0,0,0,3,0
having drinks\meal alone,49,6,0,0,1,1,3,1,0,0,4,1,2,1,0,1,3,0
having meal with somebody,7,0,0,0,0,4,6,1,0,0,3,0,5,0,0,0,2,0
mobile,174,2,2,1,0,2,5,43,0,0,25,1,0,0,8,5,36,3
plane,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
reading,2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,2
resting,68,0,1,0,0,2,1,24,0,0,71,0,1,2,0,6,1,2
shopping,17,0,0,0,0,2,0,0,0,0,0,3,0,0,0,0,19,0
socializing,49,0,0,0,3,0,3,0,0,0,0,0,36,0,0,2,1,0
talking,27,0,0,1,0,1,0,2,0,0,3,0,1,7,1,1,4,2
transport,4,0,2,0,0,0,0,7,0,1,1,0,0,0,0,0,31,0
tv,39,3,4,0,0,1,0,8,0,0,2,0,1,3,0,42,2,0
walking,119,2,5,5,3,1,0,32,1,2,0,22,1,4,22,0,1,5
working,72,0,0,0,0,1,1,7,0,1,3,0,0,0,0,0,1,83

In [19]:
#Prepare data for visualization
# Keep in mind that "Biking" is only for user 2 and user 3, "Plane" does not appear in user 2
#In case of user 3 does not appear: 'Seminar', "Biking", 'Meeting',

matrix_a=activity_plot.as_matrix()
labels=("Unknown", 'Cleaning', 'Cooking',
       'Driving', 'Drinks with sb',
       'Eating alone', 'Meal with sb', 
       'Mobile', "Plane",'Reading', 'Resting', 'Shopping', 'Socializing',
       'Talking', 'Transport', 'Tv', 'Walking', 'Working')
cross_tab = pd.DataFrame(matrix_a, columns=labels)
new_col=["Unknown",'Cleaning', 'Cooking',
       'Driving', 'Drinks with sb',
       'Eating alone', 'Meal with sb', 
       'Mobile', "Plane", 'Reading', 'Resting', 'Shopping', 'Socializing',
       'Talking', 'Transport', 'Tv', 'Walking', 'Working']
l=pd.DataFrame(new_col, columns=["Activity"])
cross_unique_acts = pd.concat([l, cross_tab], axis=1)
cross_unique_acts

,Activity,Unknown,Cleaning,Cooking,Driving,Drinks with sb,Eating alone,Meal with sb,Mobile,Plane,Reading,Resting,Shopping,Socializing,Talking,Transport,Tv,Walking,Working
0,Unknown,119,29,57,18,29,49,9,178,2,2,66,14,45,32,13,37,109,71
1,Cleaning,30,1,10,0,0,2,0,1,0,0,0,0,0,0,0,7,1,1
2,Cooking,56,10,3,0,0,6,0,3,0,0,0,0,0,0,1,4,1,0
3,Driving,14,0,0,6,0,0,0,0,0,0,0,0,0,1,0,0,10,0
4,Drinks with sb,30,0,0,0,1,1,0,0,0,0,0,0,2,0,0,0,3,0
5,Eating alone,49,6,0,0,1,1,3,1,0,0,4,1,2,1,0,1,3,0
6,Meal with sb,7,0,0,0,0,4,6,1,0,0,3,0,5,0,0,0,2,0
7,Mobile,174,2,2,1,0,2,5,43,0,0,25,1,0,0,8,5,36,3
8,Plane,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,Reading,2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,2
10,Resting,68,0,1,0,0,2,1,24,0,0,71,0,1,2,0,6,1,2
11,Shopping,17,0,0,0,0,2,0,0,0,0,0,3,0,0,0,0,19,0
12,Socializing,49,0,0,0,3,0,3,0,0,0,0,0,36,0,0,2,1,0
13,Talking,27,0,0,1,0,1,0,2,0,0,3,0,1,7,1,1,4,2
14,Transport,4,0,2,0,0,0,0,7,0,1,1,0,0,0,0,0,31,0
15,Tv,39,3,4,0,0,1,0,8,0,0,2,0,1,3,0,42,2,0
16,Walking,119,2,5,5,3,1,0,32,1,2,0,22,1,4,22,0,1,5
17,Working,72,0,0,0,0,1,1,7,0,1,3,0,0,0,0,0,1,83

In [20]:
#Count the percentage explaining which the first actity is moving next to
table1=activity_plot.divide(activity_plot.sum(axis=1), axis=0 )

To visualize the activities flow, it was used a chart called "Circle" from Lighting Python Package. The package can be installed by running: [sudo] pip install lightning-python from terminal.

In [21]:
#Import Lighting library
from lightning import Lightning

from numpy import random, asarray
lgn = Lightning(ipython=True, host='http://public.lightning-viz.org')

Connected to server at http://public.lightning-viz.org

In [22]:
#Create a chart of activity flow for each user. Keep in mind that user 1 does not have category "Biking"
#In user 2 does not appear "Plane"
table2=table1.as_matrix()
table2[table2<0.05] = 0
group1 = ([0,3,3,2,4,3,4,1,2, 5,5,3,4,1,2,5,6,7])

viz=lgn.circle(table2, 
               labels=[             
               "Unknown",'Cleaning', 'Cooking',
       'Driving', 'Drinks with sb',
       'Eating alone', 'Meal with sb', 
       'Mobile', "Plane", 'Reading', 'Resting', 'Shopping', 'Socializing',
       'Talking', 'Transport', 'Tv', 'Walking', 'Working'],
               group=[group1])
viz

/usr/local/lib/python2.7/dist-packages/IPython/kernel/__init__.py:13: ShimWarning:

The `IPython.kernel` package has been deprecated since IPython 4.0.You should import from ipykernel or jupyter_client instead.

In [23]:
#See the chart in html
viz.open()

CREATE  SankeyWidget

In [24]:
#The widget requires an edgelist with source, target and value columns
from ipysankeywidget import SankeyWidget
from ipywidgets import Layout

dfm=pd.melt(cross_unique_acts,id_vars=['Activity'], var_name='source', value_name='value')
dfm.columns=['target','source','value']
dfm['target']=dfm['target']
dfm.head(40)

            target    source  value
0          Unknown   Unknown    119
1         Cleaning   Unknown     30
2          Cooking   Unknown     56
3          Driving   Unknown     14
4   Drinks with sb   Unknown     30
5     Eating alone   Unknown     49
6     Meal with sb   Unknown      7
7           Mobile   Unknown    174
8            Plane   Unknown      3
9          Reading   Unknown      2
10         Resting   Unknown     68
11        Shopping   Unknown     17
12     Socializing   Unknown     49
13         Talking   Unknown     27
14       Transport   Unknown      4
15              Tv   Unknown     39
16         Walking   Unknown    119
17         Working   Unknown     72
18         Unknown  Cleaning     29
19        Cleaning  Cleaning      1
20         Cooking  Cleaning     10
21         Driving  Cleaning      0
22  Drinks with sb  Cleaning      0
23    Eating alone  Cleaning      6
24    Meal with sb  Cleaning      0
25          Mobile  Cleaning      2
26           Plane  Cleaning      0
27         Reading  Cleaning      0
28         Resting  Cleaning      0
29        Shopping  Cleaning      0
30     Socializing  Cleaning      0
31         Talking  Cleaning      0
32       Transport  Cleaning      0
33              Tv  Cleaning      3
34         Walking  Cleaning      2
35         Working  Cleaning      0
36         Unknown   Cooking     57
37        Cleaning   Cooking     10
38         Cooking   Cooking      3
39         Driving   Cooking      0

In [25]:
#The SankeyWidget function expects a list of dicts, each dict specifying an edge
#Also check how to drop rows where the weight is NA
links=dfm.dropna()[['source','target','value']].to_dict(orient='records')
links

[{'source': 'Unknown', 'target': 'Unknown', 'value': 119},
 {'source': 'Unknown', 'target': 'Cleaning', 'value': 30},
 {'source': 'Unknown', 'target': 'Cooking', 'value': 56},
 {'source': 'Unknown', 'target': 'Driving', 'value': 14},
 {'source': 'Unknown', 'target': 'Drinks with sb', 'value': 30},
 {'source': 'Unknown', 'target': 'Eating alone', 'value': 49},
 {'source': 'Unknown', 'target': 'Meal with sb', 'value': 7},
 {'source': 'Unknown', 'target': 'Mobile', 'value': 174},
 {'source': 'Unknown', 'target': 'Plane', 'value': 3},
 {'source': 'Unknown', 'target': 'Reading', 'value': 2},
 {'source': 'Unknown', 'target': 'Resting', 'value': 68},
 {'source': 'Unknown', 'target': 'Shopping', 'value': 17},
 {'source': 'Unknown', 'target': 'Socializing', 'value': 49},
 {'source': 'Unknown', 'target': 'Talking', 'value': 27},
 {'source': 'Unknown', 'target': 'Transport', 'value': 4},
 {'source': 'Unknown', 'target': 'Tv', 'value': 39},
 {'source': 'Unknown', 'target': 'Walking', 'value': 119},
 {'source': 'Unknown', 'target': 'Working', 'value': 72},
 {'source': 'Cleaning', 'target': 'Unknown', 'value': 29},
 {'source': 'Cleaning', 'target': 'Cleaning', 'value': 1},
 {'source': 'Cleaning', 'target': 'Cooking', 'value': 10},
 {'source': 'Cleaning', 'target': 'Driving', 'value': 0},
 {'source': 'Cleaning', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Cleaning', 'target': 'Eating alone', 'value': 6},
 {'source': 'Cleaning', 'target': 'Meal with sb', 'value': 0},
 {'source': 'Cleaning', 'target': 'Mobile', 'value': 2},
 {'source': 'Cleaning', 'target': 'Plane', 'value': 0},
 {'source': 'Cleaning', 'target': 'Reading', 'value': 0},
 {'source': 'Cleaning', 'target': 'Resting', 'value': 0},
 {'source': 'Cleaning', 'target': 'Shopping', 'value': 0},
 {'source': 'Cleaning', 'target': 'Socializing', 'value': 0},
 {'source': 'Cleaning', 'target': 'Talking', 'value': 0},
 {'source': 'Cleaning', 'target': 'Transport', 'value': 0},
 {'source': 'Cleaning', 'target': 'Tv', 'value': 3},
 {'source': 'Cleaning', 'target': 'Walking', 'value': 2},
 {'source': 'Cleaning', 'target': 'Working', 'value': 0},
 {'source': 'Cooking', 'target': 'Unknown', 'value': 57},
 {'source': 'Cooking', 'target': 'Cleaning', 'value': 10},
 {'source': 'Cooking', 'target': 'Cooking', 'value': 3},
 {'source': 'Cooking', 'target': 'Driving', 'value': 0},
 {'source': 'Cooking', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Cooking', 'target': 'Eating alone', 'value': 0},
 {'source': 'Cooking', 'target': 'Meal with sb', 'value': 0},
 {'source': 'Cooking', 'target': 'Mobile', 'value': 2},
 {'source': 'Cooking', 'target': 'Plane', 'value': 0},
 {'source': 'Cooking', 'target': 'Reading', 'value': 0},
 {'source': 'Cooking', 'target': 'Resting', 'value': 1},
 {'source': 'Cooking', 'target': 'Shopping', 'value': 0},
 {'source': 'Cooking', 'target': 'Socializing', 'value': 0},
 {'source': 'Cooking', 'target': 'Talking', 'value': 0},
 {'source': 'Cooking', 'target': 'Transport', 'value': 2},
 {'source': 'Cooking', 'target': 'Tv', 'value': 4},
 {'source': 'Cooking', 'target': 'Walking', 'value': 5},
 {'source': 'Cooking', 'target': 'Working', 'value': 0},
 {'source': 'Driving', 'target': 'Unknown', 'value': 18},
 {'source': 'Driving', 'target': 'Cleaning', 'value': 0},
 {'source': 'Driving', 'target': 'Cooking', 'value': 0},
 {'source': 'Driving', 'target': 'Driving', 'value': 6},
 {'source': 'Driving', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Driving', 'target': 'Eating alone', 'value': 0},
 {'source': 'Driving', 'target': 'Meal with sb', 'value': 0},
 {'source': 'Driving', 'target': 'Mobile', 'value': 1},
 {'source': 'Driving', 'target': 'Plane', 'value': 0},
 {'source': 'Driving', 'target': 'Reading', 'value': 0},
 {'source': 'Driving', 'target': 'Resting', 'value': 0},
 {'source': 'Driving', 'target': 'Shopping', 'value': 0},
 {'source': 'Driving', 'target': 'Socializing', 'value': 0},
 {'source': 'Driving', 'target': 'Talking', 'value': 1},
 {'source': 'Driving', 'target': 'Transport', 'value': 0},
 {'source': 'Driving', 'target': 'Tv', 'value': 0},
 {'source': 'Driving', 'target': 'Walking', 'value': 5},
 {'source': 'Driving', 'target': 'Working', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Unknown', 'value': 29},
 {'source': 'Drinks with sb', 'target': 'Cleaning', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Cooking', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Driving', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Drinks with sb', 'value': 1},
 {'source': 'Drinks with sb', 'target': 'Eating alone', 'value': 1},
 {'source': 'Drinks with sb', 'target': 'Meal with sb', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Mobile', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Plane', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Reading', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Resting', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Shopping', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Socializing', 'value': 3},
 {'source': 'Drinks with sb', 'target': 'Talking', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Transport', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Tv', 'value': 0},
 {'source': 'Drinks with sb', 'target': 'Walking', 'value': 3},
 {'source': 'Drinks with sb', 'target': 'Working', 'value': 0},
 {'source': 'Eating alone', 'target': 'Unknown', 'value': 49},
 {'source': 'Eating alone', 'target': 'Cleaning', 'value': 2},
 {'source': 'Eating alone', 'target': 'Cooking', 'value': 6},
 {'source': 'Eating alone', 'target': 'Driving', 'value': 0},
 {'source': 'Eating alone', 'target': 'Drinks with sb', 'value': 1},
 {'source': 'Eating alone', 'target': 'Eating alone', 'value': 1},
 {'source': 'Eating alone', 'target': 'Meal with sb', 'value': 4},
 {'source': 'Eating alone', 'target': 'Mobile', 'value': 2},
 {'source': 'Eating alone', 'target': 'Plane', 'value': 0},
 {'source': 'Eating alone', 'target': 'Reading', 'value': 0},
 {'source': 'Eating alone', 'target': 'Resting', 'value': 2},
 {'source': 'Eating alone', 'target': 'Shopping', 'value': 2},
 {'source': 'Eating alone', 'target': 'Socializing', 'value': 0},
 {'source': 'Eating alone', 'target': 'Talking', 'value': 1},
 {'source': 'Eating alone', 'target': 'Transport', 'value': 0},
 {'source': 'Eating alone', 'target': 'Tv', 'value': 1},
 {'source': 'Eating alone', 'target': 'Walking', 'value': 1},
 {'source': 'Eating alone', 'target': 'Working', 'value': 1},
 {'source': 'Meal with sb', 'target': 'Unknown', 'value': 9},
 {'source': 'Meal with sb', 'target': 'Cleaning', 'value': 0},
 {'source': 'Meal with sb', 'target': 'Cooking', 'value': 0},
 {'source': 'Meal with sb', 'target': 'Driving', 'value': 0},
 {'source': 'Meal with sb', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Meal with sb', 'target': 'Eating alone', 'value': 3},
 {'source': 'Meal with sb', 'target': 'Meal with sb', 'value': 6},
 {'source': 'Meal with sb', 'target': 'Mobile', 'value': 5},
 {'source': 'Meal with sb', 'target': 'Plane', 'value': 0},
 {'source': 'Meal with sb', 'target': 'Reading', 'value': 0},
 {'source': 'Meal with sb', 'target': 'Resting', 'value': 1},
 {'source': 'Meal with sb', 'target': 'Shopping', 'value': 0},
 {'source': 'Meal with sb', 'target': 'Socializing', 'value': 3},
 {'source': 'Meal with sb', 'target': 'Talking', 'value': 0},
 {'source': 'Meal with sb', 'target': 'Transport', 'value': 0},
 {'source': 'Meal with sb', 'target': 'Tv', 'value': 0},
 {'source': 'Meal with sb', 'target': 'Walking', 'value': 0},
 {'source': 'Meal with sb', 'target': 'Working', 'value': 1},
 {'source': 'Mobile', 'target': 'Unknown', 'value': 178},
 {'source': 'Mobile', 'target': 'Cleaning', 'value': 1},
 {'source': 'Mobile', 'target': 'Cooking', 'value': 3},
 {'source': 'Mobile', 'target': 'Driving', 'value': 0},
 {'source': 'Mobile', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Mobile', 'target': 'Eating alone', 'value': 1},
 {'source': 'Mobile', 'target': 'Meal with sb', 'value': 1},
 {'source': 'Mobile', 'target': 'Mobile', 'value': 43},
 {'source': 'Mobile', 'target': 'Plane', 'value': 0},
 {'source': 'Mobile', 'target': 'Reading', 'value': 0},
 {'source': 'Mobile', 'target': 'Resting', 'value': 24},
 {'source': 'Mobile', 'target': 'Shopping', 'value': 0},
 {'source': 'Mobile', 'target': 'Socializing', 'value': 0},
 {'source': 'Mobile', 'target': 'Talking', 'value': 2},
 {'source': 'Mobile', 'target': 'Transport', 'value': 7},
 {'source': 'Mobile', 'target': 'Tv', 'value': 8},
 {'source': 'Mobile', 'target': 'Walking', 'value': 32},
 {'source': 'Mobile', 'target': 'Working', 'value': 7},
 {'source': 'Plane', 'target': 'Unknown', 'value': 2},
 {'source': 'Plane', 'target': 'Cleaning', 'value': 0},
 {'source': 'Plane', 'target': 'Cooking', 'value': 0},
 {'source': 'Plane', 'target': 'Driving', 'value': 0},
 {'source': 'Plane', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Plane', 'target': 'Eating alone', 'value': 0},
 {'source': 'Plane', 'target': 'Meal with sb', 'value': 0},
 {'source': 'Plane', 'target': 'Mobile', 'value': 0},
 {'source': 'Plane', 'target': 'Plane', 'value': 0},
 {'source': 'Plane', 'target': 'Reading', 'value': 0},
 {'source': 'Plane', 'target': 'Resting', 'value': 0},
 {'source': 'Plane', 'target': 'Shopping', 'value': 0},
 {'source': 'Plane', 'target': 'Socializing', 'value': 0},
 {'source': 'Plane', 'target': 'Talking', 'value': 0},
 {'source': 'Plane', 'target': 'Transport', 'value': 0},
 {'source': 'Plane', 'target': 'Tv', 'value': 0},
 {'source': 'Plane', 'target': 'Walking', 'value': 1},
 {'source': 'Plane', 'target': 'Working', 'value': 0},
 {'source': 'Reading', 'target': 'Unknown', 'value': 2},
 {'source': 'Reading', 'target': 'Cleaning', 'value': 0},
 {'source': 'Reading', 'target': 'Cooking', 'value': 0},
 {'source': 'Reading', 'target': 'Driving', 'value': 0},
 {'source': 'Reading', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Reading', 'target': 'Eating alone', 'value': 0},
 {'source': 'Reading', 'target': 'Meal with sb', 'value': 0},
 {'source': 'Reading', 'target': 'Mobile', 'value': 0},
 {'source': 'Reading', 'target': 'Plane', 'value': 0},
 {'source': 'Reading', 'target': 'Reading', 'value': 0},
 {'source': 'Reading', 'target': 'Resting', 'value': 0},
 {'source': 'Reading', 'target': 'Shopping', 'value': 0},
 {'source': 'Reading', 'target': 'Socializing', 'value': 0},
 {'source': 'Reading', 'target': 'Talking', 'value': 0},
 {'source': 'Reading', 'target': 'Transport', 'value': 1},
 {'source': 'Reading', 'target': 'Tv', 'value': 0},
 {'source': 'Reading', 'target': 'Walking', 'value': 2},
 {'source': 'Reading', 'target': 'Working', 'value': 1},
 {'source': 'Resting', 'target': 'Unknown', 'value': 66},
 {'source': 'Resting', 'target': 'Cleaning', 'value': 0},
 {'source': 'Resting', 'target': 'Cooking', 'value': 0},
 {'source': 'Resting', 'target': 'Driving', 'value': 0},
 {'source': 'Resting', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Resting', 'target': 'Eating alone', 'value': 4},
 {'source': 'Resting', 'target': 'Meal with sb', 'value': 3},
 {'source': 'Resting', 'target': 'Mobile', 'value': 25},
 {'source': 'Resting', 'target': 'Plane', 'value': 0},
 {'source': 'Resting', 'target': 'Reading', 'value': 1},
 {'source': 'Resting', 'target': 'Resting', 'value': 71},
 {'source': 'Resting', 'target': 'Shopping', 'value': 0},
 {'source': 'Resting', 'target': 'Socializing', 'value': 0},
 {'source': 'Resting', 'target': 'Talking', 'value': 3},
 {'source': 'Resting', 'target': 'Transport', 'value': 1},
 {'source': 'Resting', 'target': 'Tv', 'value': 2},
 {'source': 'Resting', 'target': 'Walking', 'value': 0},
 {'source': 'Resting', 'target': 'Working', 'value': 3},
 {'source': 'Shopping', 'target': 'Unknown', 'value': 14},
 {'source': 'Shopping', 'target': 'Cleaning', 'value': 0},
 {'source': 'Shopping', 'target': 'Cooking', 'value': 0},
 {'source': 'Shopping', 'target': 'Driving', 'value': 0},
 {'source': 'Shopping', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Shopping', 'target': 'Eating alone', 'value': 1},
 {'source': 'Shopping', 'target': 'Meal with sb', 'value': 0},
 {'source': 'Shopping', 'target': 'Mobile', 'value': 1},
 {'source': 'Shopping', 'target': 'Plane', 'value': 0},
 {'source': 'Shopping', 'target': 'Reading', 'value': 0},
 {'source': 'Shopping', 'target': 'Resting', 'value': 0},
 {'source': 'Shopping', 'target': 'Shopping', 'value': 3},
 {'source': 'Shopping', 'target': 'Socializing', 'value': 0},
 {'source': 'Shopping', 'target': 'Talking', 'value': 0},
 {'source': 'Shopping', 'target': 'Transport', 'value': 0},
 {'source': 'Shopping', 'target': 'Tv', 'value': 0},
 {'source': 'Shopping', 'target': 'Walking', 'value': 22},
 {'source': 'Shopping', 'target': 'Working', 'value': 0},
 {'source': 'Socializing', 'target': 'Unknown', 'value': 45},
 {'source': 'Socializing', 'target': 'Cleaning', 'value': 0},
 {'source': 'Socializing', 'target': 'Cooking', 'value': 0},
 {'source': 'Socializing', 'target': 'Driving', 'value': 0},
 {'source': 'Socializing', 'target': 'Drinks with sb', 'value': 2},
 {'source': 'Socializing', 'target': 'Eating alone', 'value': 2},
 {'source': 'Socializing', 'target': 'Meal with sb', 'value': 5},
 {'source': 'Socializing', 'target': 'Mobile', 'value': 0},
 {'source': 'Socializing', 'target': 'Plane', 'value': 0},
 {'source': 'Socializing', 'target': 'Reading', 'value': 0},
 {'source': 'Socializing', 'target': 'Resting', 'value': 1},
 {'source': 'Socializing', 'target': 'Shopping', 'value': 0},
 {'source': 'Socializing', 'target': 'Socializing', 'value': 36},
 {'source': 'Socializing', 'target': 'Talking', 'value': 1},
 {'source': 'Socializing', 'target': 'Transport', 'value': 0},
 {'source': 'Socializing', 'target': 'Tv', 'value': 1},
 {'source': 'Socializing', 'target': 'Walking', 'value': 1},
 {'source': 'Socializing', 'target': 'Working', 'value': 0},
 {'source': 'Talking', 'target': 'Unknown', 'value': 32},
 {'source': 'Talking', 'target': 'Cleaning', 'value': 0},
 {'source': 'Talking', 'target': 'Cooking', 'value': 0},
 {'source': 'Talking', 'target': 'Driving', 'value': 1},
 {'source': 'Talking', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Talking', 'target': 'Eating alone', 'value': 1},
 {'source': 'Talking', 'target': 'Meal with sb', 'value': 0},
 {'source': 'Talking', 'target': 'Mobile', 'value': 0},
 {'source': 'Talking', 'target': 'Plane', 'value': 0},
 {'source': 'Talking', 'target': 'Reading', 'value': 0},
 {'source': 'Talking', 'target': 'Resting', 'value': 2},
 {'source': 'Talking', 'target': 'Shopping', 'value': 0},
 {'source': 'Talking', 'target': 'Socializing', 'value': 0},
 {'source': 'Talking', 'target': 'Talking', 'value': 7},
 {'source': 'Talking', 'target': 'Transport', 'value': 0},
 {'source': 'Talking', 'target': 'Tv', 'value': 3},
 {'source': 'Talking', 'target': 'Walking', 'value': 4},
 {'source': 'Talking', 'target': 'Working', 'value': 0},
 {'source': 'Transport', 'target': 'Unknown', 'value': 13},
 {'source': 'Transport', 'target': 'Cleaning', 'value': 0},
 {'source': 'Transport', 'target': 'Cooking', 'value': 1},
 {'source': 'Transport', 'target': 'Driving', 'value': 0},
 {'source': 'Transport', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Transport', 'target': 'Eating alone', 'value': 0},
 {'source': 'Transport', 'target': 'Meal with sb', 'value': 0},
 {'source': 'Transport', 'target': 'Mobile', 'value': 8},
 {'source': 'Transport', 'target': 'Plane', 'value': 0},
 {'source': 'Transport', 'target': 'Reading', 'value': 1},
 {'source': 'Transport', 'target': 'Resting', 'value': 0},
 {'source': 'Transport', 'target': 'Shopping', 'value': 0},
 {'source': 'Transport', 'target': 'Socializing', 'value': 0},
 {'source': 'Transport', 'target': 'Talking', 'value': 1},
 {'source': 'Transport', 'target': 'Transport', 'value': 0},
 {'source': 'Transport', 'target': 'Tv', 'value': 0},
 {'source': 'Transport', 'target': 'Walking', 'value': 22},
 {'source': 'Transport', 'target': 'Working', 'value': 0},
 {'source': 'Tv', 'target': 'Unknown', 'value': 37},
 {'source': 'Tv', 'target': 'Cleaning', 'value': 7},
 {'source': 'Tv', 'target': 'Cooking', 'value': 4},
 {'source': 'Tv', 'target': 'Driving', 'value': 0},
 {'source': 'Tv', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Tv', 'target': 'Eating alone', 'value': 1},
 {'source': 'Tv', 'target': 'Meal with sb', 'value': 0},
 {'source': 'Tv', 'target': 'Mobile', 'value': 5},
 {'source': 'Tv', 'target': 'Plane', 'value': 0},
 {'source': 'Tv', 'target': 'Reading', 'value': 0},
 {'source': 'Tv', 'target': 'Resting', 'value': 6},
 {'source': 'Tv', 'target': 'Shopping', 'value': 0},
 {'source': 'Tv', 'target': 'Socializing', 'value': 2},
 {'source': 'Tv', 'target': 'Talking', 'value': 1},
 {'source': 'Tv', 'target': 'Transport', 'value': 0},
 {'source': 'Tv', 'target': 'Tv', 'value': 42},
 {'source': 'Tv', 'target': 'Walking', 'value': 0},
 {'source': 'Tv', 'target': 'Working', 'value': 0},
 {'source': 'Walking', 'target': 'Unknown', 'value': 109},
 {'source': 'Walking', 'target': 'Cleaning', 'value': 1},
 {'source': 'Walking', 'target': 'Cooking', 'value': 1},
 {'source': 'Walking', 'target': 'Driving', 'value': 10},
 {'source': 'Walking', 'target': 'Drinks with sb', 'value': 3},
 {'source': 'Walking', 'target': 'Eating alone', 'value': 3},
 {'source': 'Walking', 'target': 'Meal with sb', 'value': 2},
 {'source': 'Walking', 'target': 'Mobile', 'value': 36},
 {'source': 'Walking', 'target': 'Plane', 'value': 0},
 {'source': 'Walking', 'target': 'Reading', 'value': 0},
 {'source': 'Walking', 'target': 'Resting', 'value': 1},
 {'source': 'Walking', 'target': 'Shopping', 'value': 19},
 {'source': 'Walking', 'target': 'Socializing', 'value': 1},
 {'source': 'Walking', 'target': 'Talking', 'value': 4},
 {'source': 'Walking', 'target': 'Transport', 'value': 31},
 {'source': 'Walking', 'target': 'Tv', 'value': 2},
 {'source': 'Walking', 'target': 'Walking', 'value': 1},
 {'source': 'Walking', 'target': 'Working', 'value': 1},
 {'source': 'Working', 'target': 'Unknown', 'value': 71},
 {'source': 'Working', 'target': 'Cleaning', 'value': 1},
 {'source': 'Working', 'target': 'Cooking', 'value': 0},
 {'source': 'Working', 'target': 'Driving', 'value': 0},
 {'source': 'Working', 'target': 'Drinks with sb', 'value': 0},
 {'source': 'Working', 'target': 'Eating alone', 'value': 0},
 {'source': 'Working', 'target': 'Meal with sb', 'value': 0},
 {'source': 'Working', 'target': 'Mobile', 'value': 3},
 {'source': 'Working', 'target': 'Plane', 'value': 0},
 {'source': 'Working', 'target': 'Reading', 'value': 2},
 {'source': 'Working', 'target': 'Resting', 'value': 2},
 {'source': 'Working', 'target': 'Shopping', 'value': 0},
 {'source': 'Working', 'target': 'Socializing', 'value': 0},
 {'source': 'Working', 'target': 'Talking', 'value': 2},
 {'source': 'Working', 'target': 'Transport', 'value': 0},
 {'source': 'Working', 'target': 'Tv', 'value': 0},
 {'source': 'Working', 'target': 'Walking', 'value': 5},
 {'source': 'Working', 'target': 'Working', 'value': 83}]

In [ ]:
layout = Layout(width="600", height="700")
k = SankeyWidget(links=links, margins=dict(top=-20, bottom=-50, left=100, right=100), layout=layout)
k

In [81]:
from IPython.display import (Image, SVG)
w.auto_save_png('test1.svg')

# 3. Identify the paterns in daily activity of the users

The identification of the paterns in daily activity of the users was a challenge. The questions was how to identify when an action starts and when finishes and at what time. This taskt requested multiple data processing in order to extract accurate, reliable and readible data. 
To identify how could look like a trivial/ casual day in the life of each user, we taken following steps:
1. Identify at what time an activity starts. We assumed that daily the same activity can be undertaken more than one time.
2. Identify at what time an activity ends. We assumed that daily the same activity can be undertaken more than one time. 
3. Identify how long a singual activity takes
4. Identify how often an activity is taken during a givin period
5. Identify how many times an activity is taken per a day and find its average 
6. Reduce the data to an average day and identify when and for how long an action is taken

### 3.1. Identify a start point of an activity

In [27]:
#Extract from cleaned Lifelog dataset needed variables. Because not all observations have assigned an activity, then
#the missing values have been replaced into category "Unknown" referring that 
#one of the activities has been undertaken but stays unidentified.
acts=lifelog_df[["user","date_just", 'activity_new', "path_id"]]
acts['activity_new']=acts['activity_new'].fillna("Unknown")

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
#Identify the activities for which a start point will be processed
acts_start=acts
acts_start["activity_new"].unique()

array(['Unknown', 'mobile', 'cooking', 'having drinks\\meal alone', 'tv',
       'resting', 'walking', 'driving', 'socializing', 'reading',
       'talking', 'working', 'attending a seminar', 'shopping',
       'having meal with somebody', 'transport', 'cleaning and chores',
       'having drinks with somebody', 'meeting', 'plane', 'biking'], dtype=object)

In [29]:
#Repeat an action for each of the activities for above variable
DFList = []
for group in acts_start.groupby(acts["date_just"]):
    DFList.append(group[1])
    
d=[]

for i in range(len(DFList)):
    acts1=DFList[i]
    val2=[]
    data=acts1["activity_new"].values
    for item in range(len(data)):
        if data[item-1] == "Unknown":
            val2.append(0)
        else:
            if data[item]=="Unknown":
                val2.append(1)
            else:
                val2.append(0)
    myarray = np.asarray(val2)

    d.append(myarray)

unique_activities_start = []
for el in d:
    unique_activities_start.extend(el)

In [30]:
#Append a dataframe with start-variable per activity
acts_start["Unknown_start"] = pd.Series(unique_activities_start, index=acts_start.index)
acts_start.head(5)

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,user,date_just,activity_new,path_id,Unknown_start
61388,u1,2015-02-23,Unknown,b00000000_21i6bq_20150223_070647e,1
61389,u1,2015-02-23,Unknown,b00000001_21i6bq_20150223_070808e,0
61390,u1,2015-02-23,Unknown,b00000002_21i6bq_20150223_070809e,0
61391,u1,2015-02-23,Unknown,b00000003_21i6bq_20150223_070810e,0
61392,u1,2015-02-23,Unknown,b00000004_21i6bq_20150223_070810e,0

In [31]:
#Save the start of activities into csv
acts_start.to_csv("acts_start.csv", sep=",")

### 3.2. Identify a end point of an activity

In [32]:
#Identify the activities for which a start point will be processed
acts_end=acts
acts_end["activity_new"].unique()

array(['Unknown', 'mobile', 'cooking', 'having drinks\\meal alone', 'tv',
       'resting', 'walking', 'driving', 'socializing', 'reading',
       'talking', 'working', 'attending a seminar', 'shopping',
       'having meal with somebody', 'transport', 'cleaning and chores',
       'having drinks with somebody', 'meeting', 'plane', 'biking'], dtype=object)

In [33]:
#Repeat the process for each of the activities:
#Unknown', 'mobile', 'cooking', 'having drinks\\meal alone', 'tv','resting', 'walking', 'driving', 
#'socializing', 'reading','talking', 'working', 'attending a seminar', 'shopping',
#'having meal with somebody', 'transport', 'cleaning and chores','having drinks with somebody', 
#'meeting', 'plane', 'biking'

DFList_end = []
for group in acts_end.groupby(acts_end["date_just"]):
    DFList_end.append(group[1])
    
k=[]

for i in range(len(DFList_end)):
    acts1=DFList_end[i]
    val1=[]
    val1.append(1)
    data=acts1["activity_new"].values
    for item in range(len(data)-1):
        if data[item+1] !="Unknown" and data[item] == "Unknown":
            val1.append(1)
        else:
            val1.append(0)
    myarray = np.asarray(val1)

    k.append(myarray)


unique_activities_end= []
for el in k:
    unique_activities_end.extend(el)

In [34]:
#Append a dataframe with end-variable per activity
acts_end['Unknown_end'] = pd.Series(unique_activities_end, index=acts_end.index)
acts_end.head(10)

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,user,date_just,activity_new,path_id,Unknown_start,Unknown_end
61388,u1,2015-02-23,Unknown,b00000000_21i6bq_20150223_070647e,1,1
61389,u1,2015-02-23,Unknown,b00000001_21i6bq_20150223_070808e,0,0
61390,u1,2015-02-23,Unknown,b00000002_21i6bq_20150223_070809e,0,0
61391,u1,2015-02-23,Unknown,b00000003_21i6bq_20150223_070810e,0,0
61392,u1,2015-02-23,Unknown,b00000004_21i6bq_20150223_070810e,0,0
61393,u1,2015-02-23,Unknown,b00000005_21i6bq_20150223_070811e,0,0
61394,u1,2015-02-23,mobile,b00000006_21i6bq_20150223_070812e,0,1
61395,u1,2015-02-23,cooking,b00000007_21i6bq_20150223_070813e,0,0
61396,u1,2015-02-23,cooking,b00000008_21i6bq_20150223_070813e,0,0
61397,u1,2015-02-23,cooking,b00000009_21i6bq_20150223_070814e,0,0

In [35]:
#Save a dataframe into csv
acts_end.to_csv("x", sep=",")

### 3.3. Relate the starting and ending time of a singular undertaken action

In [36]:
import pandas as pd
import numpy as np
#Read extracted previously dataset
df_acts_start_end=pd.read_csv("/Users/Aneta/Desktop/Final_Project_Aneta/acts_start_end.csv", sep=",")

In [37]:
#Read time and path from main dataframe and create additional variable: time in seconds
time_date=lifelog_df[["time_good", "path_id"]]
time_date['time_hour'] = time_date["time_good"].apply(lambda x: x.hour)
time_date['time_minute'] = time_date["time_good"].apply(lambda x: x.minute)
time_date['time_second'] = time_date["time_good"].apply(lambda x: x.second)
time_date['time_seconds']=time_date['time_hour']*60*60+time_date['time_minute']*60+time_date['time_second']
time_seconds=time_date[["time_good", "path_id", "time_seconds"]]

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [38]:
#Merge time in seconds with starting and ending point
activity_start_end=pd.merge( time_seconds, df_acts_start_end, on='path_id', how='outer')

### 3.4. Count a duration of a signular action
Here, it will be counted a duration in a meaning of how long does take a singualar activity. Therefore, it requested to relate a time which a logger started an action and what time did he/she finish it. The analysis was conducted separatelly for each user.

In [44]:
#Select a lifelogger/user
activities_s_e=activity_start_end[(activity_start_end['user'] == 'u1')]
activities_s_e["activity_new_old"].unique()
activities_s_e["unknown_start"].value_counts()

0    35553
1     1559
Name: unknown_start, dtype: int64

In [45]:
#Create a list of tags that you would like to explor in the next step
check_list=[
    ["unknown", activities_s_e, "Unknown", "unknown_start", "unknown_end"], 
["mobile", activities_s_e, "mobile", "mobile_start", "mobile_end"], 
["cooking", activities_s_e, "cooking", "cooking_start", "cooking_end"], 
["drinks_meal_alone", activities_s_e, "having drinks\meal alone", "drinks_meal_alone_start", "drinks_meal_alone_end"], 
["tv", activities_s_e, "tv", "tv_start", "tv_end"], 
["resting", activities_s_e, "resting", "resting_start", "resting_end"], 
["walking", activities_s_e, "walking", "walking_start", "walking_end"], 
["driving", activities_s_e, "driving", "driving_start", "driving_end"], 
["socializing", activities_s_e, "socializing", "socializing_start", "socializing_end"], 
["reading", activities_s_e, "reading", "reading_start", "reading_end"], 
["talking", activities_s_e, "talking", "talking_start", "talking_end"], 
["working", activities_s_e, "working", "working_start", "working_end"], 
["seminar", activities_s_e, "attending a seminar", "attend_seminar_start", "attend_seminar_end"], 
["shopping", activities_s_e, "shopping", "shopping_start", "shopping_end"], 
["meal_with_sb", activities_s_e, "having meal with somebody", "meal_w/sb_start", "meal_w/sb_end"], 
["transport", activities_s_e, "transport", "transport_start", "transport_end"], 
["cleaning", activities_s_e, "cleaning and chores", "cleaning_start", "cleaning_end"], 
["drinks_with_sb", activities_s_e, "having drinks with somebody", "drinks_w/sb_start", "drinks_w/sb_end"], 
["meeting", activities_s_e, "meeting", "meeting_start", "meeting_end"], 
["plane", activities_s_e, "plane", "plane_start", "plane_end"], 
["biking", activities_s_e, "biking", "biking_start", "biking_end"]]

In [46]:
#Define a function to relate starting and ending point of a singular activity

import numpy as np

def create_dataset(name, df, tag, var1, var2):
    name=activities_s_e[["user","activity_new_old", "path_id", "date_just", "time_good", "time_seconds", 
                            var1, var2]]
    name=name[(name[var2]==1)|(name['activity_new_old'] == tag) & (name[var1] ==1) ]
    name=name.drop(name.index[0])

    name=name.reset_index()

    time_check=name["time_good"].tolist()
    unique_activity = []

    for i in xrange(len(time_check) - 1):
        ll=[]
        current_item, next_item = time_check[i], time_check[i + 1]
        ll.append(current_item)
        ll.append(next_item)
        myarray = np.asarray(ll)
        unique_activity.append(myarray)
    
    time_check_1=name["time_seconds"].tolist()
    unique_activity_1 = []

    for i in xrange(len(time_check_1) - 1):
        mm=[]
        current_item1, next_item1 = time_check_1[i], time_check_1[i + 1]
        mm.append(current_item1)
        mm.append(next_item1)
        myarray = np.asarray(mm)
        unique_activity_1.append(myarray)
    
    pair_activity=pd.DataFrame(unique_activity)
    pair_activity1=pd.DataFrame(unique_activity_1)
    pair_activity.columns=("start_time", "end_time")
    pair_activity1.columns=("start_time_a", "end_time_a")

    name=pd.concat([name, pair_activity,pair_activity1], axis=1)

    name=name[name["activity_new_old"] == tag]
    name.tail(5)
    
    return name

In [47]:
#Execute the function and create a dataset of starting and ending time
l_l=[]
for name, df, tag, var1, var2 in check_list:
    x=create_dataset(name, df, tag, var1, var2)
    l_l.append(x)
    
df_list=[]
cols=("index", "user", "activity_new_old", "path_id", "date_just", "time_good", "time_seconds",
      "start", "end", "start_time", "end_time", "start_time_a", "end_time_a")

for i in range(21):
    l_l[i].columns=cols

unique_activity= pd.concat(l_l)
unique_activity.head(100)

,index,user,activity_new_old,path_id,date_just,time_good,time_seconds,start,end,start_time,end_time,start_time_a,end_time_a
1,38,u1,Unknown,b00000038_21i6bq_20150223_072500e,2015-02-23,07:25:00,26700,1,0,07:25:00,07:27:01,26700.0,26821.0
3,83,u1,Unknown,b00000084_21i6bq_20150223_075444e,2015-02-23,07:54:04,28444,1,0,07:54:04,07:56:03,28444.0,28563.0
5,88,u1,Unknown,b00000089_21i6bq_20150223_075748e,2015-02-23,07:57:04,28624,1,0,07:57:04,07:58:03,28624.0,28683.0
7,93,u1,Unknown,b00000095_21i6bq_20150223_080432e,2015-02-23,08:04:03,29043,1,0,08:04:03,08:05:05,29043.0,29105.0
9,99,u1,Unknown,b00000101_21i6bq_20150223_080820e,2015-02-23,08:08:02,29282,1,0,08:08:02,08:09:03,29282.0,29343.0
11,140,u1,Unknown,b00000144_21i6bq_20150223_083159e,2015-02-23,08:31:05,30665,1,0,08:31:05,08:32:03,30665.0,30723.0
13,142,u1,Unknown,b00000146_21i6bq_20150223_083307e,2015-02-23,08:33:00,30780,1,0,08:33:00,08:33:04,30780.0,30784.0
15,147,u1,Unknown,b00000151_21i6bq_20150223_083614e,2015-02-23,08:36:01,30961,1,0,08:36:01,08:37:00,30961.0,31020.0
17,150,u1,Unknown,b00000154_21i6bq_20150223_083911e,2015-02-23,08:39:01,31141,1,0,08:39:01,08:39:04,31141.0,31144.0
19,218,u1,Unknown,b00000231_21i6bq_20150223_093324e,2015-02-23,09:33:02,34382,1,0,09:33:02,09:34:03,34382.0,34443.0
21,222,u1,Unknown,b00000235_21i6bq_20150223_093546e,2015-02-23,09:35:04,34504,1,0,09:35:04,09:37:00,34504.0,34620.0
23,228,u1,Unknown,b00000241_21i6bq_20150223_093929e,2015-02-23,09:39:02,34742,1,0,09:39:02,09:40:04,34742.0,34804.0
25,238,u1,Unknown,b00000251_21i6bq_20150223_094512e,2015-02-23,09:45:01,35101,1,0,09:45:01,09:45:05,35101.0,35105.0
27,247,u1,Unknown,b00000260_21i6bq_20150223_095045e,2015-02-23,09:50:04,35404,1,0,09:50:04,09:51:02,35404.0,35462.0
29,259,u1,Unknown,b00000272_21i6bq_20150223_095758e,2015-02-23,09:57:05,35825,1,0,09:57:05,09:58:03,35825.0,35883.0
31,265,u1,Unknown,b00000278_21i6bq_20150223_100140e,2015-02-23,10:01:04,36064,1,0,10:01:04,10:02:01,36064.0,36121.0
33,271,u1,Unknown,b00000284_21i6bq_20150223_100527e,2015-02-23,10:05:02,36302,1,0,10:05:02,10:06:00,36302.0,36360.0
35,284,u1,Unknown,b00000297_21i6bq_20150223_101335e,2015-02-23,10:13:03,36783,1,0,10:13:03,10:14:01,36783.0,36841.0
37,287,u1,Unknown,b00000300_21i6bq_20150223_101532e,2015-02-23,10:15:03,36903,1,0,10:15:03,10:16:04,36903.0,36964.0
39,292,u1,Unknown,b00000305_21i6bq_20150223_101827e,2015-02-23,10:18:02,37082,1,0,10:18:02,10:19:03,37082.0,37143.0
41,295,u1,Unknown,b00000308_21i6bq_20150223_102013e,2015-02-23,10:20:01,37201,1,0,10:20:01,10:20:04,37201.0,37204.0
43,299,u1,Unknown,b00000312_21i6bq_20150223_102236e,2015-02-23,10:22:03,37323,1,0,10:22:03,10:23:01,37323.0,37381.0
45,307,u1,Unknown,b00000320_21i6bq_20150223_102737e,2015-02-23,10:27:03,37623,1,0,10:27:03,10:29:02,37623.0,37742.0
47,315,u1,Unknown,b00000328_21i6bq_20150223_103240e,2015-02-23,10:32:04,37924,1,0,10:32:04,10:33:01,37924.0,37981.0
49,333,u1,Unknown,b00000346_21i6bq_20150223_104415e,2015-02-23,10:44:01,38641,1,0,10:44:01,10:45:02,38641.0,38702.0
51,338,u1,Unknown,b00000351_21i6bq_20150223_104752e,2015-02-23,10:47:05,38825,1,0,10:47:05,10:48:02,38825.0,38882.0
53,353,u1,Unknown,b00000366_21i6bq_20150223_105634e,2015-02-23,10:56:03,39363,1,0,10:56:03,10:59:00,39363.0,39540.0
55,398,u1,Unknown,b00000411_21i6bq_20150223_112534e,2015-02-23,11:25:03,41103,1,0,11:25:03,11:26:00,41103.0,41160.0
57,400,u1,Unknown,b00000413_21i6bq_20150223_112641e,2015-02-23,11:26:04,41164,1,0,11:26:04,11:27:04,41164.0,41224.0
59,403,u1,Unknown,b00000416_21i6bq_20150223_112828e,2015-02-23,11:28:02,41282,1,0,11:28:02,11:29:00,41282.0,41340.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,1340,u1,Unknown,b00001389_21i6bq_20150223_220237e,2015-02-23,22:02:03,79323,1,0,22:02:03,22:03:01,79323.0,79381.0
143,1343,u1,Unknown,b00001392_21i6bq_20150223_220505e,2015-02-23,22:05:00,79500,1,0,22:05:00,22:05:04,79500.0,79504.0
146,1365,u1,Unknown,b00000001_21i6bq_20150224_064100e,2015-02-24,06:41:00,24060,1,0,06:41:00,06:41:04,24060.0,24064.0
148,1408,u1,Unknown,b00000048_21i6bq_20150224_070907e,2015-02-24,07:09:00,25740,1,0,07:09:00,07:09:04,25740.0,25744.0
150,1413,u1,Unknown,b00000053_21i6bq_20150224_071236e,2015-02-24,07:12:03,25923,1,0,07:12:03,07:13:02,25923.0,25982.0
152,1465,u1,Unknown,b00000105_21i6bq_20150224_074102e,2015-02-24,07:41:00,27660,1,0,07:41:00,07:41:03,27660.0,27663.0
154,1467,u1,Unknown,b00000107_21i6bq_20150224_074243e,2015-02-24,07:42:04,27724,1,0,07:42:04,07:46:05,27724.0,27965.0
156,1592,u1,Unknown,b00000238_21i6bq_20150224_090459e,2015-02-24,09:04:05,32645,1,0,09:04:05,09:05:04,32645.0,32704.0
158,1594,u1,Unknown,b00000240_21i6bq_20150224_090614e,2015-02-24,09:06:01,32761,1,0,09:06:01,09:06:04,32761.0,32764.0
160,1617,u1,Unknown,b00000263_21i6bq_20150224_092005e,2015-02-24,09:20:00,33600,1,0,09:20:00,09:20:04,33600.0,33604.0
162,1620,u1,Unknown,b00000266_21i6bq_20150224_092156e,2015-02-24,09:21:05,33665,1,0,09:21:05,09:22:03,33665.0,33723.0
164,1622,u1,Unknown,b00000268_21i6bq_20150224_092308e,2015-02-24,09:23:00,33780,1,0,09:23:00,09:24:02,33780.0,33842.0
166,1638,u1,Unknown,b00000284_21i6bq_20150224_093259e,2015-02-24,09:32:05,34325,1,0,09:32:05,09:34:01,34325.0,34441.0
168,1643,u1,Unknown,b00000289_21i6bq_20150224_093605e,2015-02-24,09:36:00,34560,1,0,09:36:00,09:37:01,34560.0,34621.0
170,1646,u1,Unknown,b00000292_21i6bq_20150224_093756e,2015-02-24,09:37:05,34625,1,0,09:37:05,09:38:03,34625.0,34683.0
172,1660,u1,Unknown,b00000307_21i6bq_20150224_094659e,2015-02-24,09:46:05,35165,1,0,09:46:05,09:47:03,35165.0,35223.0
174,1665,u1,Unknown,b00000313_21i6bq_20150224_095052e,2015-02-24,09:50:05,35405,1,0,09:50:05,09:51:02,35405.0,35462.0
176,1667,u1,Unknown,b00000315_21i6bq_20150224_095203e,2015-02-24,09:52:00,35520,1,0,09:52:00,09:52:03,35520.0,35523.0
178,1685,u1,Unknown,b00000333_21i6bq_20150224_100311e,2015-02-24,10:03:01,36181,1,0,10:03:01,10:03:04,36181.0,36184.0
180,1691,u1,Unknown,b00000339_21i6bq_20150224_100653e,2015-02-24,10:06:05,36365,1,0,10:06:05,10:08:03,36365.0,36483.0
182,1720,u1,Unknown,b00000368_21i6bq_20150224_102435e,2015-02-24,10:24:03,37443,1,0,10:24:03,10:25:01,37443.0,37501.0
184,1800,u1,Unknown,b00000451_21i6bq_20150224_111621e,2015-02-24,11:16:02,40562,1,0,11:16:02,11:16:05,40562.0,40565.0
186,1802,u1,Unknown,b00000453_21i6bq_20150224_111724e,2015-02-24,11:17:02,40622,1,0,11:17:02,11:17:05,40622.0,40625.0
188,1808,u1,Unknown,b00000459_21i6bq_20150224_112102e,2015-02-24,11:21:00,40860,1,0,11:21:00,11:26:04,40860.0,41164.0
190,1836,u1,Unknown,b00000488_21i6bq_20150224_113859e,2015-02-24,11:38:05,41885,1,0,11:38:05,11:56:00,41885.0,42960.0
192,1867,u1,Unknown,b00000519_21i6bq_20150224_115829e,2015-02-24,11:58:02,43082,1,0,11:58:02,11:59:03,43082.0,43143.0
194,1882,u1,Unknown,b00000534_21i6bq_20150224_120747e,2015-02-24,12:07:04,43624,1,0,12:07:04,12:08:02,43624.0,43682.0
196,1887,u1,Unknown,b00000539_21i6bq_20150224_121048e,2015-02-24,12:10:04,43804,1,0,12:10:04,12:11:02,43804.0,43862.0
198,1891,u1,Unknown,b00000543_21i6bq_20150224_121318e,2015-02-24,12:13:01,43981,1,0,12:13:01,12:13:05,43981.0,43985.0
200,1910,u1,Unknown,b00000562_21i6bq_20150224_122509e,2015-02-24,12:25:00,44700,1,0,12:25:00,12:26:01,44700.0,44761.0

### 3.5. Analyse the average time when a logger starts and finishes an action regarding its average duration within a singual day

In this section, we conduct an analysis that allows us to identify an average, daily schedule of a lifelogger. The analysis was done within hourly time ranges to identify in the most accurate way the sequentions of the actions.
The analysis was done in following steps:
1. Calculate an average frequenct of how many time an actity was undertaken per day by a singular user
2. Count how often an activity is understaken by a user
3. Count an average duration of activity
4. Count an average time when an activity is undertaken

The average end of an activity was defined as an average duration of an action within hourly ranges and as an average for all observation dates. Then, on the daily schedule chart has been presented only activities that appears more then 5 times per hour during total observation term.

In [48]:
#Convert a time in seconds to time format. Count the duration of a singual action. 
#Eliminate cases with duration 0
unique_activity['start_hour'] = pd.to_datetime(unique_activity['start_time'], format='%H:%M:%S').dt.hour
unique_activity['end_hour'] = pd.to_datetime(unique_activity['end_time'], format='%H:%M:%S').dt.hour
unique_activity["duration"]=unique_activity['end_time_a']-unique_activity["start_time_a"]
unique_activity=unique_activity[unique_activity["duration"]>=0]
unique_activity["activity_new_old"].value_counts()

Unknown                        1553
walking                         530
talking                         347
mobile                          231
working                         231
reading                         193
transport                       169
meeting                         133
resting                         109
having drinks\meal alone        107
shopping                        102
driving                          98
having meal with somebody        85
tv                               62
cooking                          52
having drinks with somebody      40
attending a seminar              34
plane                            29
socializing                      16
cleaning and chores               1
Name: activity_new_old, dtype: int64

### 3.5.1. Calculate the average frequency of k-activy per hour per day

In [54]:
#Create the labels for below dataframe. Remember to check the time ranges. 
#Various users started to register the logs at different times
l_freq_perday=["activities", "date_just"]
for x in range(0,24):
    i="freq_perday_"+str(x)
    l_freq_perday.append(i)

#out=("freq_perday_3", freq_perday_3)
#for x in out:
#    l_freq_perday.remove(x)

l_freq_perday.remove("freq_perday_2")

In [55]:
freq_perday_df=pd.pivot_table(unique_activity,index=["activity_new_old", "date_just"], values=["start_time_a"],
               columns=["start_hour"],aggfunc=[np.size])
freq_perday_df.to_csv("freq_perday_df1.csv", sep=",")
freq_perday_df=pd.read_csv("freq_perday_df1.csv", sep=",", index_col=0, header=1)
freq_perday_df=freq_perday_df.drop(freq_perday_df.index[[0,1]])
freq_perday_df=freq_perday_df.reset_index()
freq_perday_df.columns=l_freq_perday

freq_perday_df.head(5)

,activities,date_just,freq_perday_0,freq_perday_1,freq_perday_3,freq_perday_4,freq_perday_5,freq_perday_6,freq_perday_7,freq_perday_8,...,freq_perday_14,freq_perday_15,freq_perday_16,freq_perday_17,freq_perday_18,freq_perday_19,freq_perday_20,freq_perday_21,freq_perday_22,freq_perday_23
0,Unknown,2015-02-23,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6.0,...,6.0,10.0,7.0,2.0,2.0,3.0,1.0,1.0,2.0,NaN
1,Unknown,2015-02-24,NaN,NaN,NaN,NaN,NaN,1.0,4.0,NaN,...,18.0,10.0,9.0,9.0,8.0,11.0,7.0,3.0,NaN,NaN
2,Unknown,2015-02-25,NaN,NaN,NaN,NaN,1.0,4.0,7.0,15.0,...,3.0,14.0,7.0,8.0,2.0,NaN,7.0,NaN,NaN,NaN
3,Unknown,2015-02-26,NaN,NaN,NaN,NaN,1.0,5.0,8.0,8.0,...,9.0,10.0,2.0,1.0,NaN,1.0,1.0,1.0,10.0,4.0
4,Unknown,2015-02-27,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,...,2.0,5.0,4.0,6.0,5.0,NaN,2.0,7.0,NaN,NaN

In [58]:
#Create the labels for below dataframe. Remember to check the time ranges. 
#Various users started to register the logs at different times
l_freq_perday1=["activities"]
for x in range(0,24):
    i="freq_perday_"+str(x)
    l_freq_perday1.append(i)

#out=( "freq_perday_3", "freq_perday_5")
#for x in out:
#    l_freq_perday1.remove(x)

l_freq_perday1.remove("freq_perday_2")

In [59]:
#Prepare a dataframe with of average frequency of how often an action was undertaken
freq_perday_df=freq_perday_df.groupby(freq_perday_df["activities"], axis=0).mean()
freq_perday_df.to_csv("freq_perday_u1_1.csv", sep=",")
freq_perday_df=pd.read_csv("freq_perday_u1_1.csv", sep=",", index_col=0, header=0)
freq_perday_df=freq_perday_df.reset_index()
freq_perday_df.columns=l_freq_perday1
freq_perday_df.head(5)

,activities,freq_perday_0,freq_perday_1,freq_perday_3,freq_perday_4,freq_perday_5,freq_perday_6,freq_perday_7,freq_perday_8,freq_perday_9,...,freq_perday_14,freq_perday_15,freq_perday_16,freq_perday_17,freq_perday_18,freq_perday_19,freq_perday_20,freq_perday_21,freq_perday_22,freq_perday_23
0,Unknown,3.0,NaN,1.0,1.0,1.666667,2.8,3.608696,4.428571,4.400000,...,5.375,5.363636,4.041667,4.047619,2.772727,3.40,3.608696,4.210526,5.8,3.0
1,attending a seminar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,...,NaN,2.500000,1.000000,1.000000,4.000000,1.00,NaN,NaN,NaN,NaN
2,cleaning and chores,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cooking,NaN,NaN,NaN,NaN,1.000000,1.0,3.250000,1.000000,NaN,...,1.000,1.000000,NaN,1.500000,1.666667,1.75,1.250000,1.666667,NaN,NaN
4,driving,NaN,NaN,NaN,NaN,NaN,1.0,1.250000,1.333333,1.833333,...,1.000,3.000000,2.000000,1.600000,1.000000,1.00,1.000000,1.000000,NaN,NaN

### Count the frequency of how many times an activity was undertaken
In this case, we identify which activities are the most frequent.

In [61]:
#Create the labels for below dataframe. Remember to check the time ranges. 
#Various users started to register the logs at different times
l_start_size=["activities"]
for x in range(0,24):
    i="start_size_"+str(x)
    l_start_size.append(i)

#out=( "start_size_3", "start_size_5")
#for x in out:
#    l_start_size.remove(x)

l_start_size.remove("start_size_2")

In [62]:
#Count how often an activity was undertaken
start_size=pd.pivot_table(unique_activity, index=["activity_new_old"], values=["start_time_a"], columns=["start_hour"], aggfunc=[np.size])
start_size.to_csv("start_size1.csv", sep=",")
start_size=pd.read_csv("start_size1.csv", sep=",", index_col=0, header=1)
start_size=start_size.drop(start_size.index[[0,1]])
start_size=start_size.reset_index()
start_size.columns=l_start_size
start_size

,activities,start_size_0,start_size_1,start_size_3,start_size_4,start_size_5,start_size_6,start_size_7,start_size_8,start_size_9,...,start_size_14,start_size_15,start_size_16,start_size_17,start_size_18,start_size_19,start_size_20,start_size_21,start_size_22,start_size_23
0,Unknown,3.0,NaN,1.0,1.0,10.0,42.0,83.0,93.0,110.0,...,129.0,118.0,97.0,85.0,61.0,68.0,83.0,80.0,58.0,12.0
1,attending a seminar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,5.0,2.0,1.0,4.0,1.0,NaN,NaN,NaN,NaN
2,cleaning and chores,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cooking,NaN,NaN,NaN,NaN,2.0,6.0,13.0,1.0,NaN,...,1.0,1.0,NaN,3.0,5.0,7.0,5.0,5.0,NaN,NaN
4,driving,NaN,NaN,NaN,NaN,NaN,2.0,15.0,4.0,11.0,...,1.0,9.0,8.0,8.0,3.0,1.0,1.0,1.0,NaN,NaN
5,having drinks with somebody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,...,3.0,12.0,1.0,2.0,8.0,1.0,NaN,NaN,NaN,NaN
6,having drinks\meal alone,NaN,NaN,NaN,NaN,NaN,7.0,17.0,16.0,4.0,...,9.0,NaN,2.0,1.0,8.0,10.0,4.0,3.0,1.0,NaN
7,having meal with somebody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,2.0,11.0,17.0,2.0,NaN,7.0,21.0,5.0,NaN
8,meeting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,9.0,...,27.0,23.0,14.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
9,mobile,NaN,NaN,NaN,NaN,3.0,5.0,23.0,24.0,16.0,...,13.0,14.0,14.0,13.0,1.0,6.0,19.0,16.0,5.0,3.0
10,plane,NaN,NaN,NaN,NaN,NaN,4.0,2.0,NaN,NaN,...,5.0,8.0,5.0,1.0,NaN,NaN,2.0,NaN,1.0,NaN
11,reading,NaN,NaN,NaN,NaN,1.0,NaN,18.0,21.0,17.0,...,7.0,7.0,11.0,3.0,2.0,8.0,19.0,16.0,32.0,5.0
12,resting,NaN,NaN,NaN,NaN,NaN,8.0,10.0,6.0,1.0,...,4.0,1.0,9.0,5.0,5.0,9.0,19.0,24.0,6.0,NaN
13,shopping,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7.0,5.0,...,10.0,7.0,3.0,1.0,1.0,5.0,8.0,1.0,NaN,NaN
14,socializing,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,NaN,...,1.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
15,talking,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,18.0,...,48.0,45.0,37.0,27.0,12.0,9.0,4.0,10.0,2.0,NaN
16,transport,1.0,1.0,2.0,2.0,1.0,7.0,19.0,5.0,8.0,...,9.0,7.0,15.0,13.0,9.0,12.0,6.0,3.0,3.0,NaN
17,tv,NaN,NaN,NaN,NaN,2.0,16.0,10.0,2.0,NaN,...,2.0,NaN,6.0,NaN,5.0,3.0,9.0,4.0,NaN,NaN
18,walking,NaN,NaN,2.0,2.0,3.0,8.0,41.0,35.0,53.0,...,42.0,26.0,28.0,34.0,20.0,19.0,18.0,19.0,11.0,1.0
19,working,NaN,NaN,NaN,NaN,NaN,1.0,9.0,12.0,40.0,...,12.0,11.0,12.0,9.0,8.0,12.0,3.0,2.0,NaN,NaN

### Count the average duration for an activity

In [65]:
#Create the labels for below dataframe. Remember to check the time ranges. 
#Various users started to register the logs at different times
l_duration_avrg=["activities"]
for x in range(0,24):
    i="duration_avrg_"+str(x)
    l_duration_avrg.append(i)

#out=( "duration_avrg_3",  "duration_avrg_5")
#for x in out:
#    l_duration_avrg.remove(x)

l_duration_avrg.remove("duration_avrg_2")

In [66]:
#Count the average duration 
duration_avrg=pd.pivot_table(unique_activity,index=["activity_new_old"], values=["duration"],
               columns=["start_hour"],aggfunc=[np.mean])
duration_avrg.to_csv("duration_avrg.csv", sep=",")
duration_avrg=pd.read_csv("duration_avrg.csv", sep=",", index_col=0, header=1)
duration_avrg=duration_avrg.drop(duration_avrg.index[[0,1]])
duration_avrg=duration_avrg.reset_index()
duration_avrg.columns=l_duration_avrg
duration_avrg

,activities,duration_avrg_0,duration_avrg_1,duration_avrg_3,duration_avrg_4,duration_avrg_5,duration_avrg_6,duration_avrg_7,duration_avrg_8,duration_avrg_9,...,duration_avrg_14,duration_avrg_15,duration_avrg_16,duration_avrg_17,duration_avrg_18,duration_avrg_19,duration_avrg_20,duration_avrg_21,duration_avrg_22,duration_avrg_23
0,Unknown,8479.666667,NaN,242.0,358.0,352.800000,651.785714,308.204819,432.548387,440.636364,...,372.992248,388.000000,626.360825,460.494118,629.081967,709.500000,568.132530,471.825000,265.500000,419.583333
1,attending a seminar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.500000,...,NaN,841.600000,778.500000,301.000000,1228.500000,176.000000,NaN,NaN,NaN,NaN
2,cleaning and chores,NaN,NaN,NaN,NaN,NaN,540.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cooking,NaN,NaN,NaN,NaN,722.000000,200.666667,97.384615,62.000000,NaN,...,3.000000,61.000000,NaN,237.333333,144.800000,85.714286,120.400000,62.600000,NaN,NaN
4,driving,NaN,NaN,NaN,NaN,NaN,810.500000,1090.733333,748.500000,889.909091,...,239.000000,666.000000,443.125000,1348.750000,760.000000,722.000000,123.000000,2036.000000,NaN,NaN
5,having drinks with somebody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.166667,...,60.000000,94.083333,1015.000000,871.500000,278.125000,601.000000,NaN,NaN,NaN,NaN
6,having drinks\meal alone,NaN,NaN,NaN,NaN,NaN,120.142857,109.411765,345.500000,31.500000,...,201.222222,NaN,30.500000,184.000000,105.250000,331.400000,180.250000,63.333333,58.000000,NaN
7,having meal with somebody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185.000000,1740.500000,119.818182,67.352941,91.000000,NaN,349.857143,72.666667,84.400000,NaN
8,meeting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,805.800000,75.555556,...,208.518519,444.086957,316.714286,301.000000,NaN,NaN,NaN,NaN,NaN,NaN
9,mobile,NaN,NaN,NaN,NaN,40.666667,48.400000,101.826087,303.375000,232.875000,...,207.769231,47.285714,73.214286,116.153846,1318.000000,119.333333,154.526316,220.812500,179.800000,838.333333
10,plane,NaN,NaN,NaN,NaN,NaN,45.500000,118.000000,NaN,NaN,...,62.200000,268.125000,1069.200000,361.000000,NaN,NaN,1799.500000,NaN,1319.000000,NaN
11,reading,NaN,NaN,NaN,NaN,58.000000,NaN,71.333333,193.761905,92.588235,...,238.571429,386.000000,162.545455,57.666667,59.000000,538.500000,151.052632,206.125000,165.656250,166.400000
12,resting,NaN,NaN,NaN,NaN,NaN,285.375000,443.700000,119.833333,360.000000,...,121.750000,124.000000,245.000000,694.200000,1584.200000,540.222222,293.842105,270.875000,789.333333,NaN
13,shopping,NaN,NaN,NaN,NaN,238.000000,NaN,NaN,230.857143,109.200000,...,109.800000,95.428571,118.000000,960.000000,2.000000,394.400000,83.875000,423.000000,NaN,NaN
14,socializing,NaN,NaN,NaN,NaN,NaN,NaN,179.500000,256.333333,NaN,...,1203.000000,NaN,540.000000,3.000000,2397.000000,NaN,NaN,NaN,NaN,NaN
15,talking,NaN,NaN,NaN,NaN,NaN,NaN,57.500000,106.500000,155.666667,...,131.229167,139.800000,106.918919,181.814815,165.000000,299.555556,61.250000,119.600000,267.000000,NaN
16,transport,722.000000,7496.0,722.0,1921.0,1321.000000,668.000000,293.631579,144.600000,89.500000,...,372.666667,43.714286,348.600000,738.307692,841.000000,1099.666667,1139.666667,520.333333,638.666667,NaN
17,tv,NaN,NaN,NaN,NaN,663.000000,624.625000,396.400000,567.500000,NaN,...,59.000000,NaN,159.333333,NaN,83.800000,1222.000000,139.888889,60.500000,NaN,NaN
18,walking,NaN,NaN,178.5,539.0,679.333333,174.000000,187.390244,216.657143,179.358491,...,296.595238,313.923077,179.928571,197.323529,507.000000,237.842105,386.833333,158.052632,457.818182,61.000000
19,working,NaN,NaN,NaN,NaN,NaN,415.000000,279.333333,209.500000,286.550000,...,285.250000,207.636364,145.083333,273.000000,226.000000,214.416667,240.333333,512.000000,NaN,NaN

### Find which is an average time when a user starts an action.

In [69]:
#Create the labels for below dataframe. Remember to check the time ranges. 
#Various users started to register the logs at different times
l_start_avrg=[]
for x in range(0,24):
    i="start_avrg_"+str(x)
    l_start_avrg.append(i)

#out=("start_avrg_3", "start_avrg_5")
#for x in out:
#    l_start_avrg.remove(x)

l_start_avrg.remove("start_avrg_2")

In [70]:
start_avrg=pd.pivot_table(unique_activity,index=["activity_new_old"], values=["start_time_a"],
               columns=["start_hour"],aggfunc=[np.mean])
start_avrg.to_csv("start_avrg.csv", sep=",")
start_avrg=pd.read_csv("start_avrg.csv", sep=",", index_col=0, header=1)
start_avrg=start_avrg.drop(start_avrg.index[[0,1]])
start_avrg.columns=l_start_avrg
start_avrg=start_avrg.reset_index()
start_avrg=start_avrg.rename(columns={"index": "activities"})

start_avrg.head(5)

,activities,start_avrg_0,start_avrg_1,start_avrg_3,start_avrg_4,start_avrg_5,start_avrg_6,start_avrg_7,start_avrg_8,start_avrg_9,...,start_avrg_14,start_avrg_15,start_avrg_16,start_avrg_17,start_avrg_18,start_avrg_19,start_avrg_20,start_avrg_21,start_avrg_22,start_avrg_23
0,Unknown,2502.0,NaN,12900.0,17645.0,20342.9,23348.023809,27379.518072,30464.010753,34277.127273,...,52159.992248,55784.601695,59434.979381,62691.035294,66581.000000,70115.823529,74212.349398,77240.2125,80720.689655,83992.583333
1,attending a seminar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34202.000000,...,NaN,54926.000000,59134.500000,64741.000000,66409.000000,70205.000000,NaN,NaN,NaN,NaN
2,cleaning and chores,NaN,NaN,NaN,NaN,NaN,23220.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cooking,NaN,NaN,NaN,NaN,21091.0,23691.500000,27214.769231,29463.000000,NaN,...,50462.000000,57543.000000,NaN,62964.666667,66649.200000,69405.714286,74138.200000,77256.6000,NaN,NaN
4,driving,NaN,NaN,NaN,NaN,NaN,23281.500000,27495.266667,30723.000000,33902.363636,...,52743.000000,55636.000000,59064.750000,62755.000000,65622.333333,69780.000000,72662.000000,77164.0000,NaN,NaN

### Merge the dataframes in order to prepare the daily schedule visualization
To execute the used gantt chart, the dataframe needs to be transformed to requested dataframe structure having following columns: 
1. Activities
2. Activities average frequency per daily hour
3. The frequency in total of undertaken activities per hour
4. The average duration of an activity per hour
5. The time that an activity started within hourly ranges

To prepare the chart has been used: 1. The average starting time when an action starts, 2. The average ending time when an action finishes counted by sum of start in second and average duration multpilicated by an average frequency of undertaken activity per day and its hourly range

In [1941]:
#Melt the data to obtain needed dataframe structure
start_size_merge = pd.melt(start_size, id_vars=["activities"], var_name="Time_period", value_name="Val_start_size")
start_avrg_merge = pd.melt(start_avrg, id_vars=["activities"], var_name="Time_period", value_name="Val_start_hour")
duration_avrg_merge = pd.melt(duration_avrg, id_vars=["activities"], var_name="Time_period", value_name="Val_duration")
freq_perday_merge = pd.melt(freq_perday_df, id_vars=["activities"], var_name="Time_period", value_name="Val_frequency")

In [1948]:
#Merge above dataframes
average_time= pd.merge(start_size_merge, start_avrg_merge, how='outer', left_index=True, right_index=True)
average_time = pd.merge(average_time, duration_avrg_merge, how='outer', left_index=True, right_index=True)
average_time=average_time.rename(columns={"activities_x": "activities_good", "Time_period_x": "time_period"})
average_time.drop(["activities_y","Time_period_y", "activities", "Time_period"], axis=1, inplace=True)
average_time1 = pd.merge(average_time, freq_perday_merge, how='outer', left_index=True, right_index=True)
average_time1.drop(["activities","Time_period"], axis=1, inplace=True)
average_time1.to_csv("check.csv", sep=";")
average_time1.head(100)

,activities_good,time_period,Val_start_size,Val_start_hour,Val_duration,Val_frequency
0,Unknown,start_size_0,9.0,1902.555556,10139.666667,3.0
1,cooking,start_size_0,NaN,NaN,NaN,NaN
2,driving,start_size_0,NaN,NaN,NaN,NaN
3,having drinks with somebody,start_size_0,NaN,NaN,NaN,NaN
4,having drinks\meal alone,start_size_0,NaN,NaN,NaN,NaN
5,having meal with somebody,start_size_0,NaN,NaN,NaN,NaN
6,mobile,start_size_0,NaN,NaN,NaN,NaN
7,plane,start_size_0,NaN,NaN,NaN,NaN
8,reading,start_size_0,NaN,NaN,NaN,NaN
9,resting,start_size_0,2.0,662.000000,541.500000,2.0
10,shopping,start_size_0,NaN,NaN,NaN,NaN
11,socializing,start_size_0,NaN,NaN,NaN,NaN
12,talking,start_size_0,NaN,NaN,NaN,NaN
13,transport,start_size_0,NaN,NaN,NaN,NaN
14,tv,start_size_0,NaN,NaN,NaN,NaN
15,walking,start_size_0,NaN,NaN,NaN,NaN
16,working,start_size_0,NaN,NaN,NaN,NaN
17,Unknown,start_size_1,13.0,4714.923077,110.769231,13.0
18,cooking,start_size_1,NaN,NaN,NaN,NaN
19,driving,start_size_1,NaN,NaN,NaN,NaN
20,having drinks with somebody,start_size_1,NaN,NaN,NaN,NaN
21,having drinks\meal alone,start_size_1,NaN,NaN,NaN,NaN
22,having meal with somebody,start_size_1,NaN,NaN,NaN,NaN
23,mobile,start_size_1,NaN,NaN,NaN,NaN
24,plane,start_size_1,NaN,NaN,NaN,NaN
25,reading,start_size_1,NaN,NaN,NaN,NaN
26,resting,start_size_1,NaN,NaN,NaN,NaN
27,shopping,start_size_1,NaN,NaN,NaN,NaN
28,socializing,start_size_1,NaN,NaN,NaN,NaN
29,talking,start_size_1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
70,driving,start_size_6,NaN,NaN,NaN,NaN
71,having drinks with somebody,start_size_6,NaN,NaN,NaN,NaN
72,having drinks\meal alone,start_size_6,NaN,NaN,NaN,NaN
73,having meal with somebody,start_size_6,NaN,NaN,NaN,NaN
74,mobile,start_size_6,NaN,NaN,NaN,NaN
75,plane,start_size_6,NaN,NaN,NaN,NaN
76,reading,start_size_6,NaN,NaN,NaN,NaN
77,resting,start_size_6,NaN,NaN,NaN,NaN
78,shopping,start_size_6,NaN,NaN,NaN,NaN
79,socializing,start_size_6,NaN,NaN,NaN,NaN
80,talking,start_size_6,NaN,NaN,NaN,NaN
81,transport,start_size_6,1.0,24060.000000,962.000000,1.0
82,tv,start_size_6,NaN,NaN,NaN,NaN
83,walking,start_size_6,2.0,24452.500000,359.500000,2.0
84,working,start_size_6,NaN,NaN,NaN,NaN
85,Unknown,start_size_7,NaN,NaN,NaN,NaN
86,cooking,start_size_7,NaN,NaN,NaN,NaN
87,driving,start_size_7,NaN,NaN,NaN,NaN
88,having drinks with somebody,start_size_7,NaN,NaN,NaN,NaN
89,having drinks\meal alone,start_size_7,NaN,NaN,NaN,NaN
90,having meal with somebody,start_size_7,NaN,NaN,NaN,NaN
91,mobile,start_size_7,NaN,NaN,NaN,NaN
92,plane,start_size_7,NaN,NaN,NaN,NaN
93,reading,start_size_7,NaN,NaN,NaN,NaN
94,resting,start_size_7,NaN,NaN,NaN,NaN
95,shopping,start_size_7,NaN,NaN,NaN,NaN
96,socializing,start_size_7,NaN,NaN,NaN,NaN
97,talking,start_size_7,NaN,NaN,NaN,NaN
98,transport,start_size_7,1.0,25623.000000,8401.000000,1.0
99,tv,start_size_7,NaN,NaN,NaN,NaN

In [1949]:
#Select only the activities that appears within selected hour more then 5 times
most_frequent_activities=average_time1[average_time1["Val_start_size"]>=5]

In [1950]:

most_frequent_activities=most_frequent_activities.fillna(0)

most_frequent_activities["action_start"] = pd.to_timedelta((most_frequent_activities["Val_start_hour"]).astype('int'), unit='s')
most_frequent_activities["duration_nomaliz"] = most_frequent_activities["Val_duration"] *most_frequent_activities["Val_frequency"]
most_frequent_activities["end_raw"] = most_frequent_activities["duration_nomaliz"] +most_frequent_activities["Val_start_hour"]
most_frequent_activities["action_end"] = pd.to_timedelta((most_frequent_activities["end_raw"]).astype('int'), unit='s')

most_frequent_activities=most_frequent_activities.sort_values(by=["activities_good",'Val_start_size'], ascending=[True, False])
most_frequent_activities.drop(["end_raw"], axis=1, inplace=True)
daily_activties_chart=most_frequent_activities[most_frequent_activities["activities_good"]!="Unknown"]
daily_activties_chart=daily_activties_chart[["activities_good", "action_start", "action_end"]]
daily_activties_chart['action_start']=daily_activties_chart['action_start'].astype(str).str[7:15]
daily_activties_chart['action_end']=daily_activties_chart['action_end'].astype(str).str[7:15]

daily_activties_chart

                 activities_good action_start action_end
222                      cooking     15:35:24   15:38:41
256                      cooking     17:28:30   17:34:31
205                      cooking     14:27:32   14:30:31
239                      cooking     16:20:36   16:24:33
188                      cooking     13:46:40   13:51:38
273                      cooking     18:18:40   18:23:19
307                      cooking     20:25:26   20:28:05
172                      driving     12:29:15   13:37:08
291                      driving     19:53:49   20:25:22
207  having drinks with somebody     14:32:45   14:43:29
224  having drinks with somebody     15:20:44   15:40:26
241  having drinks with somebody     16:35:50   17:55:51
225     having drinks\meal alone     15:25:38   15:32:26
310     having drinks\meal alone     20:31:45   20:41:44
259     having drinks\meal alone     17:33:41   17:42:43
242     having drinks\meal alone     16:41:16   16:51:50
208     having drinks\meal alone     14:35:20   14:48:49
327     having drinks\meal alone     21:24:53   21:38:51
226    having meal with somebody     15:23:31   15:31:38
328    having meal with somebody     21:29:01   21:37:57
193                       mobile     13:35:40   13:44:32
210                       mobile     14:24:08   14:41:29
244                       mobile     16:32:30   16:43:54
295                       mobile     19:32:20   19:46:14
176                       mobile     12:32:46   12:50:56
227                       mobile     15:27:53   15:36:01
312                       mobile     20:28:55   20:42:13
278                       mobile     18:30:52   18:47:12
261                       mobile     17:28:16   17:44:26
329                       mobile     21:21:21   21:35:17
..                           ...          ...        ...
215                  socializing     14:39:27   14:52:26
199                      talking     13:28:19   13:32:17
250                      talking     16:22:02   16:31:04
216                      talking     14:14:50   14:15:53
217                    transport     14:26:36   14:54:45
200                    transport     13:33:39   13:50:38
235                           tv     15:35:22   15:38:13
269                           tv     17:22:48   17:46:02
218                           tv     14:22:19   14:29:00
252                           tv     16:27:19   16:31:19
320                           tv     20:36:03   20:47:42
337                           tv     21:26:53   21:35:23
219                      walking     14:26:29   14:34:20
236                      walking     15:27:27   15:41:17
202                      walking     13:26:20   13:41:34
185                      walking     12:27:55   12:41:11
253                      walking     16:27:11   16:30:23
287                      walking     18:29:06   18:54:40
270                      walking     17:41:28   17:53:29
168                      walking     11:30:33   11:38:44
321                      walking     20:23:17   20:24:42
304                      walking     19:27:53   19:43:38
355                      walking     22:24:03   22:37:17
338                      walking     21:32:21   21:38:42
203                      working     13:33:25   13:49:13
254                      working     16:38:33   16:48:14
186                      working     12:29:56   12:47:26
237                      working     15:18:42   15:27:06
169                      working     11:24:38   11:35:52
305                      working     19:40:50   19:50:47

[75 rows x 3 columns]

In [1951]:
#Standarize the naming
daily_activties_chart["activities_good"].replace(['attending a seminar', "biking", "cleaning", 'cooking', 'driving',
       'having drinks with somebody', 'having drinks\\meal alone',
       'having meal with somebody', 'meeting', 'mobile', 'plane',
       'reading', 'resting',"socializing", 'shopping', 'talking', 'transport', 'tv',
       'walking', 'working'], 
        ["Seminar","Biking", "Cooking", "Cleaning", "Driving", "Drinks_wsb",
        "Eating_alone", "Meal_wsb", "Meeting", "Mobile", "Plane", "Reading",
        "Resting", "Socializing", "Shopping", "Talking", "Transport", "Tv", "Walking", "Working"], inplace=True)

In [1952]:
daily_activties_chart['action_category']=daily_activties_chart['activities_good']

In [1953]:
daily_activties_chart['action_category'].replace(
      ["Seminar", "Cooking", "Driving", "Drinks_wsb",
        "Eating_alone", "Meal_wsb", "Meeting", "Mobile", "Plane", "Reading",
        "Resting", "Shopping", "Talking", "Transport", "Tv", "Walking", "Working"],
    ["Education", "Domestic work/casual", "Transportation", "Social life",
    "Domestic work/casual", "Social life", "Communication", "Communication", "Transportation",
    "Leisure", "Leisure", "Domestic work/casual", "Communication", "Transportation", 
    "Leisure", "Walk", "Work"],  inplace=True)

In [1954]:
average_time1[average_time1["activities_good"]=="working"]

,activities_good,time_period,Val_start_size,Val_start_hour,Val_duration,Val_frequency
16,working,start_size_0,NaN,NaN,NaN,NaN
33,working,start_size_1,NaN,NaN,NaN,NaN
50,working,start_size_2,NaN,NaN,NaN,NaN
67,working,start_size_4,NaN,NaN,NaN,NaN
84,working,start_size_6,NaN,NaN,NaN,NaN
101,working,start_size_7,NaN,NaN,NaN,NaN
118,working,start_size_8,NaN,NaN,NaN,NaN
135,working,start_size_9,NaN,NaN,NaN,NaN
152,working,start_size_10,2.0,37893.000000,1651.500000,2.000000
169,working,start_size_11,7.0,41078.142857,289.142857,2.333333
186,working,start_size_12,9.0,44996.222222,466.777778,2.250000
203,working,start_size_13,13.0,48805.461538,364.461538,2.600000
220,working,start_size_14,4.0,51797.250000,226.000000,1.333333
237,working,start_size_15,9.0,55122.333333,279.888889,1.800000
254,working,start_size_16,10.0,59913.900000,232.400000,2.500000
271,working,start_size_17,3.0,62221.666667,182.333333,1.500000
288,working,start_size_18,3.0,66063.000000,360.000000,1.000000
305,working,start_size_19,5.0,70850.400000,238.800000,2.500000
322,working,start_size_20,4.0,74102.750000,390.000000,2.000000
339,working,start_size_21,1.0,77404.000000,357.000000,1.000000
356,working,start_size_22,NaN,NaN,NaN,NaN
373,working,start_size_23,NaN,NaN,NaN,NaN

In [1955]:
# Ajust value for working hours!!!!
list_chart=[]
for index, row in daily_activties_chart.iterrows():
    x="dict(Task='"+row["activities_good"]+"', Start='2017-01-01 "+row["action_start"]+"', Finish='2017-01-01 "+row["action_end"]+"', Activity='"+row["activities_good"]+"')"
    list_chart.append(x)
    
list_chart

["dict(Task='Cleaning', Start='2017-01-01 15:35:24', Finish='2017-01-01 15:38:41', Activity='Cleaning')",
 "dict(Task='Cleaning', Start='2017-01-01 17:28:30', Finish='2017-01-01 17:34:31', Activity='Cleaning')",
 "dict(Task='Cleaning', Start='2017-01-01 14:27:32', Finish='2017-01-01 14:30:31', Activity='Cleaning')",
 "dict(Task='Cleaning', Start='2017-01-01 16:20:36', Finish='2017-01-01 16:24:33', Activity='Cleaning')",
 "dict(Task='Cleaning', Start='2017-01-01 13:46:40', Finish='2017-01-01 13:51:38', Activity='Cleaning')",
 "dict(Task='Cleaning', Start='2017-01-01 18:18:40', Finish='2017-01-01 18:23:19', Activity='Cleaning')",
 "dict(Task='Cleaning', Start='2017-01-01 20:25:26', Finish='2017-01-01 20:28:05', Activity='Cleaning')",
 "dict(Task='Driving', Start='2017-01-01 12:29:15', Finish='2017-01-01 13:37:08', Activity='Driving')",
 "dict(Task='Driving', Start='2017-01-01 19:53:49', Finish='2017-01-01 20:25:22', Activity='Driving')",
 "dict(Task='Drinks_wsb', Start='2017-01-01 14:32:45', Finish='2017-01-01 14:43:29', Activity='Drinks_wsb')",
 "dict(Task='Drinks_wsb', Start='2017-01-01 15:20:44', Finish='2017-01-01 15:40:26', Activity='Drinks_wsb')",
 "dict(Task='Drinks_wsb', Start='2017-01-01 16:35:50', Finish='2017-01-01 17:55:51', Activity='Drinks_wsb')",
 "dict(Task='Eating_alone', Start='2017-01-01 15:25:38', Finish='2017-01-01 15:32:26', Activity='Eating_alone')",
 "dict(Task='Eating_alone', Start='2017-01-01 20:31:45', Finish='2017-01-01 20:41:44', Activity='Eating_alone')",
 "dict(Task='Eating_alone', Start='2017-01-01 17:33:41', Finish='2017-01-01 17:42:43', Activity='Eating_alone')",
 "dict(Task='Eating_alone', Start='2017-01-01 16:41:16', Finish='2017-01-01 16:51:50', Activity='Eating_alone')",
 "dict(Task='Eating_alone', Start='2017-01-01 14:35:20', Finish='2017-01-01 14:48:49', Activity='Eating_alone')",
 "dict(Task='Eating_alone', Start='2017-01-01 21:24:53', Finish='2017-01-01 21:38:51', Activity='Eating_alone')",
 "dict(Task='Meal_wsb', Start='2017-01-01 15:23:31', Finish='2017-01-01 15:31:38', Activity='Meal_wsb')",
 "dict(Task='Meal_wsb', Start='2017-01-01 21:29:01', Finish='2017-01-01 21:37:57', Activity='Meal_wsb')",
 "dict(Task='Mobile', Start='2017-01-01 13:35:40', Finish='2017-01-01 13:44:32', Activity='Mobile')",
 "dict(Task='Mobile', Start='2017-01-01 14:24:08', Finish='2017-01-01 14:41:29', Activity='Mobile')",
 "dict(Task='Mobile', Start='2017-01-01 16:32:30', Finish='2017-01-01 16:43:54', Activity='Mobile')",
 "dict(Task='Mobile', Start='2017-01-01 19:32:20', Finish='2017-01-01 19:46:14', Activity='Mobile')",
 "dict(Task='Mobile', Start='2017-01-01 12:32:46', Finish='2017-01-01 12:50:56', Activity='Mobile')",
 "dict(Task='Mobile', Start='2017-01-01 15:27:53', Finish='2017-01-01 15:36:01', Activity='Mobile')",
 "dict(Task='Mobile', Start='2017-01-01 20:28:55', Finish='2017-01-01 20:42:13', Activity='Mobile')",
 "dict(Task='Mobile', Start='2017-01-01 18:30:52', Finish='2017-01-01 18:47:12', Activity='Mobile')",
 "dict(Task='Mobile', Start='2017-01-01 17:28:16', Finish='2017-01-01 17:44:26', Activity='Mobile')",
 "dict(Task='Mobile', Start='2017-01-01 21:21:21', Finish='2017-01-01 21:35:17', Activity='Mobile')",
 "dict(Task='Resting', Start='2017-01-01 16:35:44', Finish='2017-01-01 17:05:23', Activity='Resting')",
 "dict(Task='Resting', Start='2017-01-01 18:31:21', Finish='2017-01-01 18:45:20', Activity='Resting')",
 "dict(Task='Resting', Start='2017-01-01 14:23:09', Finish='2017-01-01 14:49:39', Activity='Resting')",
 "dict(Task='Resting', Start='2017-01-01 17:26:22', Finish='2017-01-01 17:40:00', Activity='Resting')",
 "dict(Task='Resting', Start='2017-01-01 13:16:02', Finish='2017-01-01 13:32:17', Activity='Resting')",
 "dict(Task='Resting', Start='2017-01-01 10:36:11', Finish='2017-01-01 10:58:12', Activity='Resting')",
 "dict(Task='Resting', Start='2017-01-01 19:31:31', Finish='2017-01-01 19:49:04', Activity='Resting')",
 "dict(Task='Resting', Start='2017-01-01 20:17:52', Finish='2017-01-01 20:37:33', Activity='Resting')",
 "dict(Task='Resting', Start='2017-01-01 21:35:13', Finish='2017-01-01 21:44:47', Activity='Resting')",
 "dict(Task='Resting', Start='2017-01-01 12:35:38', Finish='2017-01-01 12:49:38', Activity='Resting')",
 "dict(Task='Resting', Start='2017-01-01 15:41:26', Finish='2017-01-01 16:31:08', Activity='Resting')",
 "dict(Task='Shopping', Start='2017-01-01 14:27:49', Finish='2017-01-01 14:40:49', Activity='Shopping')",
 "dict(Task='Socializing', Start='2017-01-01 22:34:58', Finish='2017-01-01 23:01:49', Activity='Socializing')",
 "dict(Task='Socializing', Start='2017-01-01 15:23:08', Finish='2017-01-01 16:00:07', Activity='Socializing')",
 "dict(Task='Socializing', Start='2017-01-01 21:37:22', Finish='2017-01-01 21:48:23', Activity='Socializing')",
 "dict(Task='Socializing', Start='2017-01-01 14:39:27', Finish='2017-01-01 14:52:26', Activity='Socializing')",
 "dict(Task='Talking', Start='2017-01-01 13:28:19', Finish='2017-01-01 13:32:17', Activity='Talking')",
 "dict(Task='Talking', Start='2017-01-01 16:22:02', Finish='2017-01-01 16:31:04', Activity='Talking')",
 "dict(Task='Talking', Start='2017-01-01 14:14:50', Finish='2017-01-01 14:15:53', Activity='Talking')",
 "dict(Task='Transport', Start='2017-01-01 14:26:36', Finish='2017-01-01 14:54:45', Activity='Transport')",
 "dict(Task='Transport', Start='2017-01-01 13:33:39', Finish='2017-01-01 13:50:38', Activity='Transport')",
 "dict(Task='Tv', Start='2017-01-01 15:35:22', Finish='2017-01-01 15:38:13', Activity='Tv')",
 "dict(Task='Tv', Start='2017-01-01 17:22:48', Finish='2017-01-01 17:46:02', Activity='Tv')",
 "dict(Task='Tv', Start='2017-01-01 14:22:19', Finish='2017-01-01 14:29:00', Activity='Tv')",
 "dict(Task='Tv', Start='2017-01-01 16:27:19', Finish='2017-01-01 16:31:19', Activity='Tv')",
 "dict(Task='Tv', Start='2017-01-01 20:36:03', Finish='2017-01-01 20:47:42', Activity='Tv')",
 "dict(Task='Tv', Start='2017-01-01 21:26:53', Finish='2017-01-01 21:35:23', Activity='Tv')",
 "dict(Task='Walking', Start='2017-01-01 14:26:29', Finish='2017-01-01 14:34:20', Activity='Walking')",
 "dict(Task='Walking', Start='2017-01-01 15:27:27', Finish='2017-01-01 15:41:17', Activity='Walking')",
 "dict(Task='Walking', Start='2017-01-01 13:26:20', Finish='2017-01-01 13:41:34', Activity='Walking')",
 "dict(Task='Walking', Start='2017-01-01 12:27:55', Finish='2017-01-01 12:41:11', Activity='Walking')",
 "dict(Task='Walking', Start='2017-01-01 16:27:11', Finish='2017-01-01 16:30:23', Activity='Walking')",
 "dict(Task='Walking', Start='2017-01-01 18:29:06', Finish='2017-01-01 18:54:40', Activity='Walking')",
 "dict(Task='Walking', Start='2017-01-01 17:41:28', Finish='2017-01-01 17:53:29', Activity='Walking')",
 "dict(Task='Walking', Start='2017-01-01 11:30:33', Finish='2017-01-01 11:38:44', Activity='Walking')",
 "dict(Task='Walking', Start='2017-01-01 20:23:17', Finish='2017-01-01 20:24:42', Activity='Walking')",
 "dict(Task='Walking', Start='2017-01-01 19:27:53', Finish='2017-01-01 19:43:38', Activity='Walking')",
 "dict(Task='Walking', Start='2017-01-01 22:24:03', Finish='2017-01-01 22:37:17', Activity='Walking')",
 "dict(Task='Walking', Start='2017-01-01 21:32:21', Finish='2017-01-01 21:38:42', Activity='Walking')",
 "dict(Task='Working', Start='2017-01-01 13:33:25', Finish='2017-01-01 13:49:13', Activity='Working')",
 "dict(Task='Working', Start='2017-01-01 16:38:33', Finish='2017-01-01 16:48:14', Activity='Working')",
 "dict(Task='Working', Start='2017-01-01 12:29:56', Finish='2017-01-01 12:47:26', Activity='Working')",
 "dict(Task='Working', Start='2017-01-01 15:18:42', Finish='2017-01-01 15:27:06', Activity='Working')",
 "dict(Task='Working', Start='2017-01-01 11:24:38', Finish='2017-01-01 11:35:52', Activity='Working')",
 "dict(Task='Working', Start='2017-01-01 19:40:50', Finish='2017-01-01 19:50:47', Activity='Working')"]

In [1961]:
import plotly.plotly as py
import plotly.figure_factory as ff



df = [dict(Task='Cleaning', Start='2017-01-01 15:35:24', Finish='2017-01-01 15:38:41', Activity='Cleaning'),
 dict(Task='Cleaning', Start='2017-01-01 17:28:30', Finish='2017-01-01 17:34:31', Activity='Cleaning'),
 dict(Task='Cleaning', Start='2017-01-01 14:27:32', Finish='2017-01-01 14:30:31', Activity='Cleaning'),
 dict(Task='Cleaning', Start='2017-01-01 16:20:36', Finish='2017-01-01 16:24:33', Activity='Cleaning'),
 dict(Task='Cleaning', Start='2017-01-01 13:46:40', Finish='2017-01-01 13:51:38', Activity='Cleaning'),
 dict(Task='Cleaning', Start='2017-01-01 18:18:40', Finish='2017-01-01 18:23:19', Activity='Cleaning'),
 dict(Task='Cleaning', Start='2017-01-01 20:25:26', Finish='2017-01-01 20:28:05', Activity='Cleaning'),
 dict(Task='Driving', Start='2017-01-01 12:29:15', Finish='2017-01-01 13:37:08', Activity='Driving'),
 dict(Task='Driving', Start='2017-01-01 19:53:49', Finish='2017-01-01 20:25:22', Activity='Driving'),
 dict(Task='Drinks_wsb', Start='2017-01-01 14:32:45', Finish='2017-01-01 14:43:29', Activity='Drinks_wsb'),
 dict(Task='Drinks_wsb', Start='2017-01-01 15:20:44', Finish='2017-01-01 15:40:26', Activity='Drinks_wsb'),
 dict(Task='Drinks_wsb', Start='2017-01-01 16:35:50', Finish='2017-01-01 17:55:51', Activity='Drinks_wsb'),
 dict(Task='Eating_alone', Start='2017-01-01 15:25:38', Finish='2017-01-01 15:32:26', Activity='Eating_alone'),
 dict(Task='Eating_alone', Start='2017-01-01 20:31:45', Finish='2017-01-01 20:41:44', Activity='Eating_alone'),
 dict(Task='Eating_alone', Start='2017-01-01 17:33:41', Finish='2017-01-01 17:42:43', Activity='Eating_alone'),
 dict(Task='Eating_alone', Start='2017-01-01 16:41:16', Finish='2017-01-01 16:51:50', Activity='Eating_alone'),
 dict(Task='Eating_alone', Start='2017-01-01 14:35:20', Finish='2017-01-01 14:48:49', Activity='Eating_alone'),
 dict(Task='Eating_alone', Start='2017-01-01 21:24:53', Finish='2017-01-01 21:38:51', Activity='Eating_alone'),
 dict(Task='Meal_wsb', Start='2017-01-01 15:23:31', Finish='2017-01-01 15:31:38', Activity='Meal_wsb'),
 dict(Task='Meal_wsb', Start='2017-01-01 21:29:01', Finish='2017-01-01 21:37:57', Activity='Meal_wsb'),
 dict(Task='Mobile', Start='2017-01-01 13:35:40', Finish='2017-01-01 13:44:32', Activity='Mobile'),
 dict(Task='Mobile', Start='2017-01-01 14:24:08', Finish='2017-01-01 14:41:29', Activity='Mobile'),
 dict(Task='Mobile', Start='2017-01-01 16:32:30', Finish='2017-01-01 16:43:54', Activity='Mobile'),
 dict(Task='Mobile', Start='2017-01-01 19:32:20', Finish='2017-01-01 19:46:14', Activity='Mobile'),
 dict(Task='Mobile', Start='2017-01-01 12:32:46', Finish='2017-01-01 12:50:56', Activity='Mobile'),
 dict(Task='Mobile', Start='2017-01-01 15:27:53', Finish='2017-01-01 15:36:01', Activity='Mobile'),
 dict(Task='Mobile', Start='2017-01-01 20:28:55', Finish='2017-01-01 20:42:13', Activity='Mobile'),
 dict(Task='Mobile', Start='2017-01-01 18:30:52', Finish='2017-01-01 18:47:12', Activity='Mobile'),
 dict(Task='Mobile', Start='2017-01-01 17:28:16', Finish='2017-01-01 17:44:26', Activity='Mobile'),
 dict(Task='Mobile', Start='2017-01-01 21:21:21', Finish='2017-01-01 21:35:17', Activity='Mobile'),
 dict(Task='Resting', Start='2017-01-01 16:35:44', Finish='2017-01-01 17:05:23', Activity='Resting'),
 dict(Task='Resting', Start='2017-01-01 18:31:21', Finish='2017-01-01 18:45:20', Activity='Resting'),
 dict(Task='Resting', Start='2017-01-01 14:23:09', Finish='2017-01-01 14:49:39', Activity='Resting'),
 dict(Task='Resting', Start='2017-01-01 17:26:22', Finish='2017-01-01 17:40:00', Activity='Resting'),
 dict(Task='Resting', Start='2017-01-01 13:16:02', Finish='2017-01-01 13:32:17', Activity='Resting'),
 dict(Task='Resting', Start='2017-01-01 10:36:11', Finish='2017-01-01 10:58:12', Activity='Resting'),
 dict(Task='Resting', Start='2017-01-01 19:31:31', Finish='2017-01-01 19:49:04', Activity='Resting'),
 dict(Task='Resting', Start='2017-01-01 20:17:52', Finish='2017-01-01 20:37:33', Activity='Resting'),
 dict(Task='Resting', Start='2017-01-01 21:35:13', Finish='2017-01-01 21:44:47', Activity='Resting'),
 dict(Task='Resting', Start='2017-01-01 12:35:38', Finish='2017-01-01 12:49:38', Activity='Resting'),
 dict(Task='Resting', Start='2017-01-01 15:41:26', Finish='2017-01-01 16:31:08', Activity='Resting'),
 dict(Task='Shopping', Start='2017-01-01 14:27:49', Finish='2017-01-01 14:40:49', Activity='Shopping'),
 dict(Task='Socializing', Start='2017-01-01 22:34:58', Finish='2017-01-01 23:01:49', Activity='Socializing'),
 dict(Task='Socializing', Start='2017-01-01 15:23:08', Finish='2017-01-01 16:00:07', Activity='Socializing'),
 dict(Task='Socializing', Start='2017-01-01 21:37:22', Finish='2017-01-01 21:48:23', Activity='Socializing'),
 dict(Task='Socializing', Start='2017-01-01 14:39:27', Finish='2017-01-01 14:52:26', Activity='Socializing'),
 dict(Task='Talking', Start='2017-01-01 13:28:19', Finish='2017-01-01 13:32:17', Activity='Talking'),
 dict(Task='Talking', Start='2017-01-01 16:22:02', Finish='2017-01-01 16:31:04', Activity='Talking'),
 dict(Task='Talking', Start='2017-01-01 14:14:50', Finish='2017-01-01 14:15:53', Activity='Talking'),
 dict(Task='Transport', Start='2017-01-01 14:26:36', Finish='2017-01-01 14:54:45', Activity='Transport'),
 dict(Task='Transport', Start='2017-01-01 13:33:39', Finish='2017-01-01 13:50:38', Activity='Transport'),
 dict(Task='Tv', Start='2017-01-01 15:35:22', Finish='2017-01-01 15:38:13', Activity='Tv'),
 dict(Task='Tv', Start='2017-01-01 17:22:48', Finish='2017-01-01 17:46:02', Activity='Tv'),
 dict(Task='Tv', Start='2017-01-01 14:22:19', Finish='2017-01-01 14:29:00', Activity='Tv'),
 dict(Task='Tv', Start='2017-01-01 16:27:19', Finish='2017-01-01 16:31:19', Activity='Tv'),
 dict(Task='Tv', Start='2017-01-01 20:36:03', Finish='2017-01-01 20:47:42', Activity='Tv'),
 dict(Task='Tv', Start='2017-01-01 21:26:53', Finish='2017-01-01 21:35:23', Activity='Tv'),
 dict(Task='Walking', Start='2017-01-01 14:26:29', Finish='2017-01-01 14:34:20', Activity='Walking'),
 dict(Task='Walking', Start='2017-01-01 15:27:27', Finish='2017-01-01 15:41:17', Activity='Walking'),
 dict(Task='Walking', Start='2017-01-01 13:26:20', Finish='2017-01-01 13:41:34', Activity='Walking'),
 dict(Task='Walking', Start='2017-01-01 12:27:55', Finish='2017-01-01 12:41:11', Activity='Walking'),
 dict(Task='Walking', Start='2017-01-01 16:27:11', Finish='2017-01-01 16:30:23', Activity='Walking'),
 dict(Task='Walking', Start='2017-01-01 18:29:06', Finish='2017-01-01 18:54:40', Activity='Walking'),
 dict(Task='Walking', Start='2017-01-01 17:41:28', Finish='2017-01-01 17:53:29', Activity='Walking'),
 dict(Task='Walking', Start='2017-01-01 11:30:33', Finish='2017-01-01 11:38:44', Activity='Walking'),
 dict(Task='Walking', Start='2017-01-01 20:23:17', Finish='2017-01-01 20:24:42', Activity='Walking'),
 dict(Task='Walking', Start='2017-01-01 19:27:53', Finish='2017-01-01 19:43:38', Activity='Walking'),
 dict(Task='Walking', Start='2017-01-01 22:24:03', Finish='2017-01-01 22:37:17', Activity='Walking'),
 dict(Task='Walking', Start='2017-01-01 21:32:21', Finish='2017-01-01 21:38:42', Activity='Walking'),
 dict(Task='Working', Start='2017-01-01 12:29:56', Finish='2017-01-01 16:48:14', Activity='Working'),
 dict(Task='Working', Start='2017-01-01 19:40:50', Finish='2017-01-01 19:50:47', Activity='Working')]

colors = dict(Seminar = '#C43B5B',
    Cleaning = '#92C9DC',
              Driving = '#118AB2',
              Drinks_wsb = '#FFD166',
              Eating_alone = '#92C9DC',
              Meal_wsb = '#FFD166',
              Mobile = '#ABD278',
              Resting = '#06D6A0',
              Socializing = '#FFD166',
              Shopping = '#92C9DC',
              Talking = '#BCE784',
              Transport = '#118AB2',
              Tv = '#06D6A0',
              Walking = '#F16889',
              Working = '#EF476F')


fig = ff.create_gantt(df, colors=colors, index_col='Activity', title='Daily Schedule',
                      show_colorbar=True, bar_width=0.8, showgrid_x=True, showgrid_y=True, group_tasks=True)
py.iplot(fig, filename='gantt-hours-minutes', world_readable=True)

### 3.6. Compare an average time spent on activities by a loggers

In [112]:
#Select a lifelogger/user
activities_s_e=activity_start_end[(activity_start_end['user'] == 'u3')]

In [113]:
#Create a list of tags that you would like to explor in the next step
check_list=[
    ["unknown", activities_s_e, "Unknown", "unknown_start", "unknown_end"], 
["mobile", activities_s_e, "mobile", "mobile_start", "mobile_end"], 
["cooking", activities_s_e, "cooking", "cooking_start", "cooking_end"], 
["drinks_meal_alone", activities_s_e, "having drinks\meal alone", "drinks_meal_alone_start", "drinks_meal_alone_end"], 
["tv", activities_s_e, "tv", "tv_start", "tv_end"], 
["resting", activities_s_e, "resting", "resting_start", "resting_end"], 
["walking", activities_s_e, "walking", "walking_start", "walking_end"], 
["driving", activities_s_e, "driving", "driving_start", "driving_end"], 
["socializing", activities_s_e, "socializing", "socializing_start", "socializing_end"], 
["reading", activities_s_e, "reading", "reading_start", "reading_end"], 
["talking", activities_s_e, "talking", "talking_start", "talking_end"], 
["working", activities_s_e, "working", "working_start", "working_end"], 
["seminar", activities_s_e, "attending a seminar", "attend_seminar_start", "attend_seminar_end"], 
["shopping", activities_s_e, "shopping", "shopping_start", "shopping_end"], 
["meal_with_sb", activities_s_e, "having meal with somebody", "meal_w/sb_start", "meal_w/sb_end"], 
["transport", activities_s_e, "transport", "transport_start", "transport_end"], 
["cleaning", activities_s_e, "cleaning and chores", "cleaning_start", "cleaning_end"], 
["drinks_with_sb", activities_s_e, "having drinks with somebody", "drinks_w/sb_start", "drinks_w/sb_end"], 
["meeting", activities_s_e, "meeting", "meeting_start", "meeting_end"], 
["plane", activities_s_e, "plane", "plane_start", "plane_end"], 
["biking", activities_s_e, "biking", "biking_start", "biking_end"]]

In [114]:
#Define a function to relate starting and ending point of a singular activity

import numpy as np

def create_dataset(name, df, tag, var1, var2):
    name=activities_s_e[["user","activity_new_old", "path_id", "date_just", "time_good", "time_seconds", 
                            var1, var2]]
    name=name[(name[var2]==1)|(name['activity_new_old'] == tag) & (name[var1] ==1) ]
    name=name.drop(name.index[0])

    name=name.reset_index()

    time_check=name["time_good"].tolist()
    unique_activity = []

    for i in xrange(len(time_check) - 1):
        ll=[]
        current_item, next_item = time_check[i], time_check[i + 1]
        ll.append(current_item)
        ll.append(next_item)
        myarray = np.asarray(ll)
        unique_activity.append(myarray)
    
    time_check_1=name["time_seconds"].tolist()
    unique_activity_1 = []

    for i in xrange(len(time_check_1) - 1):
        mm=[]
        current_item1, next_item1 = time_check_1[i], time_check_1[i + 1]
        mm.append(current_item1)
        mm.append(next_item1)
        myarray = np.asarray(mm)
        unique_activity_1.append(myarray)
    
    pair_activity=pd.DataFrame(unique_activity)
    pair_activity1=pd.DataFrame(unique_activity_1)
    pair_activity.columns=("start_time", "end_time")
    pair_activity1.columns=("start_time_a", "end_time_a")

    name=pd.concat([name, pair_activity,pair_activity1], axis=1)

    name=name[name["activity_new_old"] == tag]
    name.tail(5)
    
    return name

In [115]:
#Execute the function and create a dataset of starting and ending time
l_l=[]
for name, df, tag, var1, var2 in check_list:
    x=create_dataset(name, df, tag, var1, var2)
    l_l.append(x)
    
df_list=[]
cols=("index", "user", "activity_new_old", "path_id", "date_just", "time_good", "time_seconds",
      "start", "end", "start_time", "end_time", "start_time_a", "end_time_a")

for i in range(21):
    l_l[i].columns=cols

unique_activity= pd.concat(l_l)
unique_activity.head(100)

,index,user,activity_new_old,path_id,date_just,time_good,time_seconds,start,end,start_time,end_time,start_time_a,end_time_a
0,61386,u3,Unknown,b00000018_21i79q_20150615_084940e,2015-06-15,08:49:04,31744,1,0,08:49:04,08:58:04,31744.0,32284.0
1,61401,u3,Unknown,b00000033_21i79q_20150615_085840e,2015-06-15,08:58:04,32284,0,1,08:58:04,08:59:02,32284.0,32342.0
2,61402,u3,Unknown,b00000034_21i79q_20150615_085920e,2015-06-15,08:59:02,32342,1,0,08:59:02,09:03:04,32342.0,32584.0
3,61409,u3,Unknown,b00000041_21i79q_20150615_090343e,2015-06-15,09:03:04,32584,0,1,09:03:04,09:14:01,32584.0,33241.0
4,61429,u3,Unknown,b00000061_21i79q_20150615_091415e,2015-06-15,09:14:01,33241,1,0,09:14:01,09:15:05,33241.0,33305.0
5,61432,u3,Unknown,b00000064_21i79q_20150615_091557e,2015-06-15,09:15:05,33305,0,1,09:15:05,09:31:04,33305.0,34264.0
6,61460,u3,Unknown,b00000092_21i79q_20150615_093148e,2015-06-15,09:31:04,34264,1,0,09:31:04,09:32:02,34264.0,34322.0
7,61461,u3,Unknown,b00000093_21i79q_20150615_093223e,2015-06-15,09:32:02,34322,0,1,09:32:02,09:37:02,34322.0,34622.0
8,61469,u3,Unknown,b00000101_21i79q_20150615_093721e,2015-06-15,09:37:02,34622,1,0,09:37:02,09:37:05,34622.0,34625.0
9,61470,u3,Unknown,b00000102_21i79q_20150615_093757e,2015-06-15,09:37:05,34625,0,1,09:37:05,09:48:00,34625.0,35280.0
10,61486,u3,Unknown,b00000118_21i79q_20150615_094802e,2015-06-15,09:48:00,35280,1,0,09:48:00,09:48:03,35280.0,35283.0
11,61487,u3,Unknown,b00000119_21i79q_20150615_094837e,2015-06-15,09:48:03,35283,0,1,09:48:03,10:36:02,35283.0,38162.0
12,61567,u3,Unknown,b00000199_21i79q_20150615_103621e,2015-06-15,10:36:02,38162,1,0,10:36:02,10:37:00,38162.0,38220.0
13,61568,u3,Unknown,b00000200_21i79q_20150615_103700e,2015-06-15,10:37:00,38220,0,1,10:37:00,10:55:00,38220.0,39300.0
14,61600,u3,Unknown,b00000232_21i79q_20150615_105506e,2015-06-15,10:55:00,39300,1,0,10:55:00,10:56:01,39300.0,39361.0
15,61602,u3,Unknown,b00000234_21i79q_20150615_105612e,2015-06-15,10:56:01,39361,0,1,10:56:01,11:21:03,39361.0,40863.0
16,61643,u3,Unknown,b00000275_21i79q_20150615_112132e,2015-06-15,11:21:03,40863,1,0,11:21:03,11:22:05,40863.0,40925.0
17,61645,u3,Unknown,b00000277_21i79q_20150615_112250e,2015-06-15,11:22:05,40925,0,1,11:22:05,11:46:05,40925.0,42365.0
18,61688,u3,Unknown,b00000320_21i79q_20150615_114653e,2015-06-15,11:46:05,42365,1,0,11:46:05,11:47:02,42365.0,42422.0
19,61689,u3,Unknown,b00000321_21i79q_20150615_114723e,2015-06-15,11:47:02,42422,0,1,11:47:02,11:52:04,42422.0,42724.0
20,61699,u3,Unknown,b00000331_21i79q_20150615_115244e,2015-06-15,11:52:04,42724,1,0,11:52:04,11:53:02,42724.0,42782.0
21,61700,u3,Unknown,b00000332_21i79q_20150615_115324e,2015-06-15,11:53:02,42782,0,1,11:53:02,11:54:05,42782.0,42845.0
22,61703,u3,Unknown,b00000335_21i79q_20150615_115458e,2015-06-15,11:54:05,42845,1,0,11:54:05,11:57:05,42845.0,43025.0
23,61708,u3,Unknown,b00000340_21i79q_20150615_115752e,2015-06-15,11:57:05,43025,0,1,11:57:05,12:00:03,43025.0,43203.0
24,61713,u3,Unknown,b00000345_21i79q_20150615_120038e,2015-06-15,12:00:03,43203,1,0,12:00:03,12:01:01,43203.0,43261.0
25,61714,u3,Unknown,b00000346_21i79q_20150615_120116e,2015-06-15,12:01:01,43261,0,1,12:01:01,12:07:03,43261.0,43623.0
26,61725,u3,Unknown,b00000357_21i79q_20150615_120737e,2015-06-15,12:07:03,43623,1,0,12:07:03,12:09:02,43623.0,43742.0
27,61728,u3,Unknown,b00000360_21i79q_20150615_120920e,2015-06-15,12:09:02,43742,0,1,12:09:02,12:35:05,43742.0,45305.0
28,61774,u3,Unknown,b00000406_21i79q_20150615_123553e,2015-06-15,12:35:05,45305,1,0,12:35:05,12:36:02,45305.0,45362.0
29,61775,u3,Unknown,b00000407_21i79q_20150615_123625e,2015-06-15,12:36:02,45362,0,1,12:36:02,12:41:01,45362.0,45661.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,62257,u3,Unknown,b00000889_21i79q_20150615_165817e,2015-06-15,16:58:01,61081,1,0,16:58:01,16:58:05,61081.0,61085.0
71,62258,u3,Unknown,b00000890_21i79q_20150615_165851e,2015-06-15,16:58:05,61085,0,1,16:58:05,17:01:01,61085.0,61261.0
72,62262,u3,Unknown,b00000894_21i79q_20150615_170115e,2015-06-15,17:01:01,61261,1,0,17:01:01,17:13:01,61261.0,61981.0
73,62280,u3,Unknown,b00000912_21i79q_20150615_171312e,2015-06-15,17:13:01,61981,0,1,17:13:01,17:14:04,61981.0,62044.0
74,62283,u3,Unknown,b00000915_21i79q_20150615_171442e,2015-06-15,17:14:04,62044,1,0,17:14:04,17:21:00,62044.0,62460.0
75,62295,u3,Unknown,b00000927_21i79q_20150615_172109e,2015-06-15,17:21:00,62460,0,1,17:21:00,17:21:03,62460.0,62463.0
76,62296,u3,Unknown,b00000928_21i79q_20150615_172139e,2015-06-15,17:21:03,62463,1,0,17:21:03,17:23:00,62463.0,62580.0
77,62299,u3,Unknown,b00000931_21i79q_20150615_172309e,2015-06-15,17:23:00,62580,0,1,17:23:00,17:32:05,62580.0,63125.0
78,62317,u3,Unknown,b00000949_21i79q_20150615_173254e,2015-06-15,17:32:05,63125,1,0,17:32:05,17:34:03,63125.0,63243.0
79,62320,u3,Unknown,b00000952_21i79q_20150615_173430e,2015-06-15,17:34:03,63243,0,1,17:34:03,17:38:00,63243.0,63480.0
80,62327,u3,Unknown,b00000959_21i79q_20150615_173801e,2015-06-15,17:38:00,63480,1,0,17:38:00,17:40:00,63480.0,63600.0
81,62331,u3,Unknown,b00000963_21i79q_20150615_174001e,2015-06-15,17:40:00,63600,0,1,17:40:00,17:40:03,63600.0,63603.0
82,62332,u3,Unknown,b00000964_21i79q_20150615_174031e,2015-06-15,17:40:03,63603,1,0,17:40:03,17:41:00,63603.0,63660.0
83,62333,u3,Unknown,b00000965_21i79q_20150615_174101e,2015-06-15,17:41:00,63660,0,1,17:41:00,17:54:04,63660.0,64444.0
84,62358,u3,Unknown,b00000990_21i79q_20150615_175449e,2015-06-15,17:54:04,64444,1,0,17:54:04,17:55:01,64444.0,64501.0
85,62359,u3,Unknown,b00000991_21i79q_20150615_175519e,2015-06-15,17:55:01,64501,0,1,17:55:01,17:58:04,64501.0,64684.0
86,62366,u3,Unknown,b00000998_21i79q_20150615_175849e,2015-06-15,17:58:04,64684,1,0,17:58:04,17:59:04,64684.0,64744.0
87,62368,u3,Unknown,b00001000_21i79q_20150615_175949e,2015-06-15,17:59:04,64744,0,1,17:59:04,18:00:04,64744.0,64804.0
88,62370,u3,Unknown,b00001002_21i79q_20150615_180049e,2015-06-15,18:00:04,64804,1,0,18:00:04,18:01:02,64804.0,64862.0
89,62371,u3,Unknown,b00001003_21i79q_20150615_180120e,2015-06-15,18:01:02,64862,0,1,18:01:02,18:07:02,64862.0,65222.0
90,62383,u3,Unknown,b00001015_21i79q_20150615_180720e,2015-06-15,18:07:02,65222,1,0,18:07:02,18:07:05,65222.0,65225.0
91,62384,u3,Unknown,b00001016_21i79q_20150615_180750e,2015-06-15,18:07:05,65225,0,1,18:07:05,18:15:05,65225.0,65705.0
92,62400,u3,Unknown,b00001032_21i79q_20150615_181555e,2015-06-15,18:15:05,65705,1,0,18:15:05,18:16:02,65705.0,65762.0
93,62401,u3,Unknown,b00001033_21i79q_20150615_181625e,2015-06-15,18:16:02,65762,0,1,18:16:02,18:20:05,65762.0,66005.0
94,62410,u3,Unknown,b00001042_21i79q_20150615_182056e,2015-06-15,18:20:05,66005,1,0,18:20:05,18:21:02,66005.0,66062.0
95,62411,u3,Unknown,b00001043_21i79q_20150615_182126e,2015-06-15,18:21:02,66062,0,1,18:21:02,18:21:05,66062.0,66065.0
96,62412,u3,Unknown,b00001044_21i79q_20150615_182156e,2015-06-15,18:21:05,66065,1,0,18:21:05,18:22:02,66065.0,66122.0
97,62413,u3,Unknown,b00001045_21i79q_20150615_182226e,2015-06-15,18:22:02,66122,0,1,18:22:02,18:24:05,66122.0,66245.0
98,62418,u3,Unknown,b00001050_21i79q_20150615_182457e,2015-06-15,18:24:05,66245,1,0,18:24:05,18:25:02,66245.0,66302.0
99,62419,u3,Unknown,b00001051_21i79q_20150615_182527e,2015-06-15,18:25:02,66302,0,1,18:25:02,18:26:02,66302.0,66362.0

In [116]:
#Convert a time in seconds to time format. Count the duration of a singual action. 
#Eliminate cases with duration 0
unique_activity['start_hour'] = pd.to_datetime(unique_activity['start_time'], format='%H:%M:%S').dt.hour
unique_activity['end_hour'] = pd.to_datetime(unique_activity['end_time'], format='%H:%M:%S').dt.hour
unique_activity["duration"]=unique_activity['end_time_a']-unique_activity["start_time_a"]
unique_activity=unique_activity[unique_activity["duration"]>=0]
unique_activity["activity_new_old"].value_counts()

Unknown                        909
mobile                         244
walking                        204
resting                         86
cooking                         73
working                         70
having drinks\meal alone        63
tv                              57
socializing                     50
transport                       43
talking                         36
having drinks with somebody     35
shopping                        35
driving                         21
having meal with somebody       16
reading                          4
plane                            3
Name: activity_new_old, dtype: int64

In [122]:
l_freq_perday1=[]
for x in range(0,24):
    i="l_freq_perday1_"+str(x)
    l_freq_perday1.append(i)

In [123]:
freq_perday_df1=pd.pivot_table(unique_activity,index=["activity_new_old"], values=["duration"],
               columns=["start_hour"],aggfunc=[np.median])

#insert columns at night
y=np.empty((17,))* np.nan
freq_perday_df1.insert(3, "3", y, allow_duplicates=False)
freq_perday_df1.insert(5, "5", y, allow_duplicates=False)


freq_perday_df1.to_csv("freq_perday_df2.csv", sep=",")
freq_perday_df1=pd.read_csv("freq_perday_df2.csv", sep=",", index_col=0, header=1)
freq_perday_df1=freq_perday_df1.drop(freq_perday_df1.index[[0,1]])
freq_perday_df1=freq_perday_df1/60
freq_perday_df1.columns=l_freq_perday1
freq_perday_df1

,l_freq_perday1_0,l_freq_perday1_1,l_freq_perday1_2,l_freq_perday1_3,l_freq_perday1_4,l_freq_perday1_5,l_freq_perday1_6,l_freq_perday1_7,l_freq_perday1_8,l_freq_perday1_9,...,l_freq_perday1_14,l_freq_perday1_15,l_freq_perday1_16,l_freq_perday1_17,l_freq_perday1_18,l_freq_perday1_19,l_freq_perday1_20,l_freq_perday1_21,l_freq_perday1_22,l_freq_perday1_23
Unknown,2.933333,1.0,2.483333,NaN,1.033333,NaN,0.975000,NaN,4.033333,3.950000,...,1.058333,1.966667,1.966667,1.991667,1.016667,2.983333,2.033333,2.050000,2.000000,7.525000
cooking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.050000,...,0.958333,0.966667,0.966667,0.966667,0.983333,NaN,1.016667,0.966667,NaN,NaN
driving,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.083333,35.033333,11.066667,26.550000,54.033333,0.966667,NaN,NaN,NaN,NaN
having drinks with somebody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.033333,...,1.016667,2.083333,22.000000,37.033333,36.050000,98.033333,NaN,16.016667,30.033333,NaN
having drinks\meal alone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.016667,...,6.916667,1.975000,3.025000,1.016667,1.475000,1.933333,2.466667,3.483333,NaN,NaN
having meal with somebody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.525000,1.558333,NaN,NaN,NaN,NaN,27.966667,1.466667,NaN,NaN
mobile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.950000,3.016667,3.008333,6.000000,4.000000,3.033333,3.083333,3.991667,14.050000,0.966667
plane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,76.033333,NaN,121.916667,NaN,0.066667,NaN
reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
resting,9.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.000000,12.066667,5.475000,9.033333,5.458333,6.500000,7.483333,6.966667,12.933333,NaN
shopping,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.033333,3.033333,NaN,NaN,7.033333,9.016667,NaN,NaN,1.083333,5.950000
socializing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.966667,3.008333,29.550000,59.950000,57.983333,33.000000,8.016667,1.016667,1.033333,5.516667
talking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.050000,1.983333,1.016667,NaN,2.000000,0.083333,0.966667,NaN,1.983333,4.000000
transport,NaN,NaN,NaN,NaN,NaN,NaN,16.033333,140.016667,NaN,19.000000,...,10.016667,16.483333,15.508333,5.033333,0.958333,NaN,5.983333,16.983333,14.000000,29.066667
tv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.066667,0.950000,1.083333,0.958333,0.966667,8.008333,1.916667,2.000000,6.525000,0.966667
walking,NaN,NaN,NaN,NaN,NaN,NaN,5.991667,NaN,NaN,26.000000,...,1.925000,2.966667,1.033333,2.016667,7.033333,1.016667,1.025000,1.041667,3.950000,4.016667
working,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.000000,5.016667,3.458333,4.000000,5.966667,3.016667,6.516667,5.950000,NaN,NaN

In [124]:
l_size_days=[]
for x in range(0,24):
    i="size_days_"+str(x)
    l_size_days.append(i)

In [125]:
size_days=pd.pivot_table(unique_activity,index=["activity_new_old"], values=["duration"],
               columns=["start_hour"],aggfunc=[np.size])

#insert missing columns
x=np.empty((17,))* np.nan
size_days.insert(3, "3", y, allow_duplicates=False)
size_days.insert(5, "5", y, allow_duplicates=False)

size_days.to_csv("size_days.csv", sep=",")
size_days=pd.read_csv("size_days.csv", sep=",", index_col=0, header=1)
size_days=size_days.drop(size_days.index[[0,1]])
size_days.columns=l_size_days
size_days

size_days=size_days.fillna(0)
size_days[size_days <=3] = 0
size_days[size_days >=4] = 1
size_days

,size_days_0,size_days_1,size_days_2,size_days_3,size_days_4,size_days_5,size_days_6,size_days_7,size_days_8,size_days_9,...,size_days_14,size_days_15,size_days_16,size_days_17,size_days_18,size_days_19,size_days_20,size_days_21,size_days_22,size_days_23
Unknown,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
cooking,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
driving,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
having drinks with somebody,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
having drinks\meal alone,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
having meal with somebody,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
mobile,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
plane,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
reading,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
resting,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
shopping,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
socializing,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
talking,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
transport,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
tv,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
walking,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
working,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [126]:
freq_perday_df2=freq_perday_df1*size_days.values
freq_perday_df2

,l_freq_perday1_0,l_freq_perday1_1,l_freq_perday1_2,l_freq_perday1_3,l_freq_perday1_4,l_freq_perday1_5,l_freq_perday1_6,l_freq_perday1_7,l_freq_perday1_8,l_freq_perday1_9,...,l_freq_perday1_14,l_freq_perday1_15,l_freq_perday1_16,l_freq_perday1_17,l_freq_perday1_18,l_freq_perday1_19,l_freq_perday1_20,l_freq_perday1_21,l_freq_perday1_22,l_freq_perday1_23
Unknown,2.933333,1.0,2.483333,NaN,1.033333,NaN,0.0,NaN,0.0,3.95,...,1.058333,1.966667,1.966667,1.991667,1.016667,2.983333,2.033333,2.050000,2.000000,7.525
cooking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,0.958333,0.966667,0.966667,0.966667,0.983333,NaN,1.016667,0.000000,NaN,NaN
driving,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.966667,NaN,NaN,NaN,NaN
having drinks with somebody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,1.016667,2.083333,22.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,NaN
having drinks\meal alone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,6.916667,1.975000,3.025000,1.016667,1.475000,0.000000,2.466667,3.483333,NaN,NaN
having meal with somebody,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,1.558333,NaN,NaN,NaN,NaN,0.000000,1.466667,NaN,NaN
mobile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.950000,3.016667,3.008333,6.000000,4.000000,3.033333,3.083333,3.991667,0.000000,0.000
plane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN
reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
resting,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.000000,12.066667,5.475000,9.033333,5.458333,6.500000,7.483333,6.966667,0.000000,NaN
shopping,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.033333,3.033333,NaN,NaN,0.000000,0.000000,NaN,NaN,0.000000,0.000
socializing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.966667,3.008333,0.000000,0.000000,0.000000,0.000000,0.000000,1.016667,1.033333,0.000
talking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.050000,0.000000,1.016667,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000
transport,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.00,...,10.016667,16.483333,0.000000,0.000000,0.958333,NaN,0.000000,0.000000,0.000000,0.000
tv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.066667,0.950000,1.083333,0.958333,0.000000,0.000000,1.916667,2.000000,0.000000,0.000
walking,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.00,...,1.925000,2.966667,1.033333,2.016667,7.033333,1.016667,1.025000,1.041667,3.950000,0.000
working,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.000000,5.016667,3.458333,0.000000,0.000000,3.016667,6.516667,0.000000,NaN,NaN

In [127]:
#Transfer a table to matrix and extract the arrays for data visualization 
freq_perday_df1=freq_perday_df1.as_matrix()
freq_perday_df1=freq_perday_df1.astype(int)

In [128]:
freq_perday_df3=freq_perday_df2.iloc[:,6:24]
freq_perday_df4=freq_perday_df3.drop(freq_perday_df3.index[[0]])
freq_perday_df4=freq_perday_df4.reset_index()
label=("activity","6am", "7am", "8am", "9am", "10am", "11am", "12pm","1pm", "2pm", "3pm", "4pm", "5pm", "6pm", "7pm",
      "8pm", "9pm", "10pm", "11pm")
freq_perday_df4.columns=label
freq_perday_df4

freq_perday_df5 = pd.melt(freq_perday_df4, id_vars=["activity"], var_name="Time_period", value_name="Val_start_size")

freq_perday_df5['activity'] = freq_perday_df5['activity'].replace(
    ['attending a seminar', 'cleaning and chores', "having drinks with somebody", "having meal with somebody",
     "having drinks\meal alone"], ["attend a seminar", "cleaning", "drinks with somebody","meal with somebody",
                                   "eating alone"])

freq_perday_df5["Val_start_size"]=freq_perday_df5["Val_start_size"].fillna(0).round().astype(int)

list_chart=[]
for index, row in freq_perday_df5.iterrows():
    x=str(row["Val_start_size"])+" min"
    list_chart.append(x)
list_chart=pd.DataFrame(list_chart)
list_chart.columns=["time"]
freq_perday_df5= pd.merge(freq_perday_df5, list_chart, how='outer', left_index=True, right_index=True)
freq_perday_df5

                 activity Time_period  Val_start_size   time
0                 cooking         6am               0  0 min
1                 driving         6am               0  0 min
2    drinks with somebody         6am               0  0 min
3            eating alone         6am               0  0 min
4      meal with somebody         6am               0  0 min
5                  mobile         6am               0  0 min
6                   plane         6am               0  0 min
7                 reading         6am               0  0 min
8                 resting         6am               0  0 min
9                shopping         6am               0  0 min
10            socializing         6am               0  0 min
11                talking         6am               0  0 min
12              transport         6am               0  0 min
13                     tv         6am               0  0 min
14                walking         6am               0  0 min
15                working         6am               0  0 min
16                cooking         7am               0  0 min
17                driving         7am               0  0 min
18   drinks with somebody         7am               0  0 min
19           eating alone         7am               0  0 min
20     meal with somebody         7am               0  0 min
21                 mobile         7am               0  0 min
22                  plane         7am               0  0 min
23                reading         7am               0  0 min
24                resting         7am               0  0 min
25               shopping         7am               0  0 min
26            socializing         7am               0  0 min
27                talking         7am               0  0 min
28              transport         7am               0  0 min
29                     tv         7am               0  0 min
..                    ...         ...             ...    ...
258  drinks with somebody        10pm               0  0 min
259          eating alone        10pm               0  0 min
260    meal with somebody        10pm               0  0 min
261                mobile        10pm               0  0 min
262                 plane        10pm               0  0 min
263               reading        10pm               0  0 min
264               resting        10pm               0  0 min
265              shopping        10pm               0  0 min
266           socializing        10pm               1  1 min
267               talking        10pm               0  0 min
268             transport        10pm               0  0 min
269                    tv        10pm               0  0 min
270               walking        10pm               4  4 min
271               working        10pm               0  0 min
272               cooking        11pm               0  0 min
273               driving        11pm               0  0 min
274  drinks with somebody        11pm               0  0 min
275          eating alone        11pm               0  0 min
276    meal with somebody        11pm               0  0 min
277                mobile        11pm               0  0 min
278                 plane        11pm               0  0 min
279               reading        11pm               0  0 min
280               resting        11pm               0  0 min
281              shopping        11pm               0  0 min
282           socializing        11pm               0  0 min
283               talking        11pm               0  0 min
284             transport        11pm               0  0 min
285                    tv        11pm               0  0 min
286               walking        11pm               0  0 min
287               working        11pm               0  0 min

[288 rows x 4 columns]

In [129]:
#Insert your credetions. In free version of Plotly, you can run up 50 calls per day
import plotly 
plotly.tools.set_credentials_file(username='aneta.marcinkowska', api_key='y4tOQkUDZ5fjlYznDdxr')

In [130]:
#Prepare a bubble chart using Plotly package

import plotly.plotly as py
import plotly.graph_objs as go

#coloros:
#purple - reading: #9E73A0, resting: #68236B, tv: #431745
#blue - drink with sb: #0070C0, meal with sb: #00B0F0, socializing: #77DAFE
#green - bike: #8BF9CC, driving: #64E096, plane: #69C66E, transport: #96E072, walking: #D6F984
#yellow - meeting: #FFFD78, mobile: #FFDE4C, talking: #FEBD3C
#orange - cleaning: #FF9D1D, cooking: #FF610B, eating alone: #FB4737
#pink - seminar: #FF0A5C, working: #FF387A


working = go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'working'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'working'],
    mode='markers',
    name='Working',
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'working'],
    marker=dict(
        color="#FFBDD3", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'working'],
        line=dict(
            width=2
        ),
    )
)

seminar= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'attend a seminar'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'attend a seminar'],
    mode='markers',
    name='Seminary',
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'attend a seminar'],
    marker=dict(
        color="#FF0A5C", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'attend a seminar'],
    )
)
eating_alone= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'eating alone'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'eating alone'],
    mode='markers',
    name='Eating alone',
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'eating alone'],
    marker=dict(
        color="#FB4737", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'eating alone'],
    )
)
cooking= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'cooking'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'cooking'],
    mode='markers',
    name='Cooking',
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'cooking'],
    marker=dict(
        color="#FF610B", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'cooking'],
    )
)

cleaning= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'cleaning'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'cleaning'],
    mode='markers',
    name='Cleaning',
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'cleaning'],
    marker=dict(
        color="#FF9D1D", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'cleaning'],
    )
)


talking= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'talking'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'talking'],
    mode='markers',
    name='Talking',
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'talking'],
    marker=dict(
        color="#FEBD3C", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'talking'],
    )
)
mobile= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'mobile'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'mobile'],
    mode='markers',
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'mobile'],
    name='Mobile',
    marker=dict(
        color="#FFDE4C", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'mobile'],
    )
)

meeting= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'meeting'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'meeting'],
    mode='markers',
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'meeting'],
    name='Meeting',
    marker=dict(
        color="#FFFD78", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'meeting'],
    )
)

walking= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'walking'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'walking'],
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'walking'],
    mode='markers',
    name='Walking',
    marker=dict(
        color="#D6F984", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'walking'],
    )
)

transport= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'transport'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'transport'],
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'transport'],
    mode='markers',
    name='Transport',
    marker=dict(
        color="#96E072", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'transport'],
    )
)
plane= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'plane'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'plane'],
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'plane'],
    mode='markers',
    name='Plane',
    marker=dict(
        color="#69C66E", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'plane'],
    )
)

driving= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'driving'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'driving'],
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'driving'],
    mode='markers',
    name='Driving',
    marker=dict(
        color="#64E096", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'driving'],
    )
)
biking= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'biking'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'biking'],
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'biking'],
    mode='markers',
    name='Biking',
    marker=dict(
        color="#8BF9CC", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'biking'],
    )
)
socializing= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'socializing'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'socializing'],
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'socializing'],
    mode='markers',
    name='Socializing',
    marker=dict(
        color="#77DAFE", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'socializing'],
    )
)

meal_wsb= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'meal with somebody'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'meal with somebody'],
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'meal with somebody'],
    mode='markers',
    name='Meal with sb',
    marker=dict(
        color="#00B0F0", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'meal with somebody'],
    )
)

drink_wsb= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'drinks with somebody'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'drinks with somebody'],
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'drinks with somebody'],
    mode='markers',
    name='Drinks with sb',
    marker=dict(
        color="#0070C0", 
        sizemode='diameter',
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'drinks with somebody'],
    )
)

tv= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'tv'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'tv'],
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'tv'],
    mode='markers',
    name='Tv',
    marker=dict(
        color="#431745", 
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'tv'],
    )
)

resting= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'resting'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'resting'],
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'resting'],
    mode='markers',
    name='Resting',
    marker=dict(
        color="#68236B", 
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'resting'],
    )
)

reading= go.Scatter(
    x=freq_perday_df5['Time_period'][freq_perday_df5['activity']== 'reading'],
    y=freq_perday_df5['activity'][freq_perday_df5['activity']== 'reading'],
    text=freq_perday_df5['time'][freq_perday_df5['activity']== 'reading'],
    mode='markers',
    name='Reading',
    marker=dict(
        color="#9E73A0", 
        sizeref=0.1,
        size=freq_perday_df5['Val_start_size'][freq_perday_df5['activity']== 'reading'],
    )
)



layout = go.Layout(autosize=False, hovermode='closest',
    width=1000,
    height=1050,
    margin=go.Margin(
        l=140,
        r=50,
        b=70,
        t=50,
        pad=1
    ),
    showlegend=False,
    title='Activities by users (in percentage)',
    xaxis=dict(
        gridcolor='rgb(255, 255, 255)',
        zerolinewidth=9,
        ticklen=2,
        gridwidth=10,
        ticks="inside",
    ),
    yaxis=dict(
        zerolinewidth=1,
        ticklen=5,
        gridwidth=2,
    ),
    paper_bgcolor='#FFFFFF',
    plot_bgcolor='#FFFFFF',
)

data1 = [reading, resting, tv, drink_wsb, meal_wsb, socializing,biking, driving, 
plane, transport, walking, meeting, mobile, talking, cleaning, cooking,
eating_alone, seminar, working]
fig = go.Figure(data=data1, layout=layout)
py.iplot(fig)

## Define the average amoung of time that has been spent on activity

In [1962]:

amount_time=pd.pivot_table(unique_activity,index=["activity_new_old"], values=["duration"],aggfunc=[np.sum])
amount_time.to_csv("amount_time.csv", sep=",")
amount_time=pd.read_csv("amount_time.csv", sep=",", index_col=0, header=1)
amount_time["number_days"]=len(unique_activity["date_just"].unique())
amount_time=amount_time.drop(amount_time.index[[0]])
amount_time["duration_avrg"]=amount_time["duration"]/amount_time["number_days"]
amount_time=amount_time.reset_index()
amount_time=amount_time.rename(columns={"index": "activities"})
amount_time=amount_time[["activities", "duration_avrg"]]
amount_time=amount_time.groupby(amount_time["activities"], axis=0).sum()
amount_time=amount_time.reset_index()
amount_time["duration_avrg"]=amount_time["duration_avrg"].astype(int)

In [1963]:
amount_timex=amount_time.as_matrix()
amount_timex=pd.DataFrame(amount_timex)
amount_timex.columns=("activities", "duration_avrg")
amount_timex.loc[1]
amount_timex=amount_timex.drop(amount_timex.index[[0]])

In [1964]:
amount_timex["duration_avrg"]=amount_timex["duration_avrg"].astype(int)
amount_timex["duration_%"]=amount_timex["duration_avrg"]/amount_timex["duration_avrg"].sum()*100
amount_timex["duration_%"]=amount_timex["duration_%"].round(2)
amount_timex

                     activities  duration_avrg  duration_%
1                       cooking            245        1.50
2                       driving            884        5.42
3   having drinks with somebody           1303        7.99
4      having drinks\meal alone            781        4.79
5     having meal with somebody            184        1.13
6                        mobile           2814       17.25
7                         plane            440        2.70
8                       reading             11        0.07
9                       resting           2341       14.35
10                     shopping            344        2.11
11                  socializing           1073        6.58
12                      talking            133        0.82
13                    transport           1944       11.92
14                           tv            602        3.69
15                      walking           2299       14.09
16                      working            916        5.61

In [1966]:
from IPython.display import SVG
import pygal
from pygal.style import Style
custom_style = Style( 
    font_family="Helvetica Neue",
    value_colors=("#46494C"),
  transition='400ms ease-in',
  colors=("#67B4CE","#06D6A0","#A4DEF9",
"#A8D4E3","#ffed66","#EFC3E6",
"#F0A6CA","#BCE784","#A4BEF9","#FFEFA2","#FFD166","#BCE784","#9C89B8","#f45b69","#F0577C"))
      
treemap = pygal.Treemap(style=custom_style)
treemap.title = 'Daily amount of time by activities (in percentage)'
treemap.add('Cooking', amount_timex["duration_%"].loc[1])
treemap.add('Driving', amount_timex["duration_%"].loc[2])
treemap.add('Drinks with sb', amount_timex["duration_%"].loc[3])
treemap.add('Eating alone', amount_timex["duration_%"].loc[4])
treemap.add('Meal with sb', amount_timex["duration_%"].loc[5])
treemap.add('Mobile', amount_timex["duration_%"].loc[6])
treemap.add('Resting', amount_timex["duration_%"].loc[7])
treemap.add('Plane', amount_timex["duration_%"].loc[8])
treemap.add('Shopping', amount_timex["duration_%"].loc[8])
treemap.add('Socializing', amount_timex["duration_%"].loc[9])
treemap.add('Talking', amount_timex["duration_%"].loc[10])
treemap.add('Transport', amount_timex["duration_%"].loc[11])
treemap.add('Tv', amount_timex["duration_%"].loc[12])
treemap.add('Walking', amount_timex["duration_%"].loc[12])
treemap.add('Working', amount_timex["duration_%"].loc[14])
treemap.render_to_file('bar_chart.svg')

In [ ]:
SVG(filename='bar_chart.svg')

In [1967]:
import seaborn as sns
sns.set(style="whitegrid", palette="pastel", color_codes=True)

# Load the example tips dataset
tips = sns.load_dataset("tips")

# Draw a nested violinplot and split the violins for easier comparison
sns.violinplot(x="day", y="total_bill", hue="sex", data=tips, split=True,
               inner="quart", palette={"Male": "b", "Female": "y"})
sns.despine(left=True)